/* btn */

button,
input[type="submit"],
input[type="button"] {
    @extend %transition-all-250;
}
.btn {
    font-family: inherit;
    font-size: r(16);
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    position: relative;
    z-index: 0;
    cursor: pointer;
    user-select: none;
    @include fli();
    @include fl-between();
    @include fl-v-centr();
    white-space: nowrap;
    text-decoration: none !important;
    letter-spacing: normal;
    text-transform: none !important;
    pointer-events: auto;
    border: none !important;
    border-radius: r($border-radius-xxs);
    outline: none !important;
    background: none;
    box-shadow: none !important;
    appearance: none !important;
    @include lg {
        font-size: r(20);
    }
    //    @include md {
    //        font-size: r(14);
    //        line-height: 1;
    //        padding: r(11) r(22);
    //    }
    &:after,
    &:before {
        content: "";
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.btn__text {
    position: relative;
    top: r(2);
}
.btn--a,
.btn--i {
    &:after {
        display: none !important;
    }
}
.btn--l {
}
.btn--a-i {
    &:before {
        flex: 0 1 r(25);
        width: r(25);
        min-width: r(25);
        max-width: r(25);
        height: r(16);
        margin-right: r(24);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    }
    &:after {
        flex: 0 1 r(14);
        width: r(14);
        min-width: r(14);
        max-width: r(14);
        height: r(14);
        margin-left: r(8);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 0 .397 2.408a5.09 5.09 0 0 0 4.195 4.195L14 7l-2.408.397a5.09 5.09 0 0 0-4.195 4.195L7 14l-.397-2.408a5.09 5.09 0 0 0-4.195-4.195L0 7l2.408-.397a5.09 5.09 0 0 0 4.195-4.195L7 0Z' fill='%23fff'/%3E%3C/svg%3E");
    }
}
.btn--i-a {
    &:before {
        flex: 0 1 r(14);
        width: r(14);
        min-width: r(14);
        max-width: r(14);
        height: r(14);
        margin-right: r(8);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 0 .397 2.408a5.09 5.09 0 0 0 4.195 4.195L14 7l-2.408.397a5.09 5.09 0 0 0-4.195 4.195L7 14l-.397-2.408a5.09 5.09 0 0 0-4.195-4.195L0 7l2.408-.397a5.09 5.09 0 0 0 4.195-4.195L7 0Z' fill='%23fff'/%3E%3C/svg%3E");
    }
    &:after {
        flex: 0 1 r(23);
        width: r(23);
        min-width: r(23);
        max-width: r(23);
        height: r(14);
        margin-left: r(16);
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        @include lg {
            flex: 0 1 r(25);
            width: r(25);
            min-width: r(25);
            max-width: r(25);
            height: r(16);
            margin-left: r(24);
        }
    }
}
.btn--lo {
    &:before {
        flex: 0 1 r(24);
        width: r(24);
        min-width: r(24);
        max-width: r(24);
        height: r(26);
        margin-right: r(8);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m.423 11.235 4.134-.849a4.778 4.778 0 0 0 3.422-3.104L10.113.986l2.999.047-2.43 7.165a7.609 7.609 0 0 1-5.068 4.854l-5.19-1.817Zm22.99 3.877-4.076.837a4.777 4.777 0 0 0-3.431 3.099l-2.166 6.39-2.855-.044-.13-.041 2.447-7.222a7.613 7.613 0 0 1 5.075-4.854l5.137 1.835Zm-6.26-3.124L24 14.504v-3.042l-5.866-2.154c-1.405-.52-2.373-1.687-3.05-3.665l-1.282-4.388-1.572 4.78.144.49c.958 2.849 2.527 4.635 4.78 5.463ZM0 11.875l6.74 2.472c2.343.862 4.047 2.819 4.796 5.516l.138.436-1.53 4.643-1.353-4.294c-.494-1.799-1.573-3.077-3.037-3.616L0 14.917v-3.042Z' fill='%23F9F9F9'/%3E%3C/svg%3E");
        @extend %transition-all-300;
    }
    &:hover {
        &:before {
            transform: rotate(360deg);
        }
    }
}
.btn--lo-a {
    &.btn--bg-5,
    &.btn--bg-3,
    &.btn--bg-4 {
        &:before {
            flex: 0 1 r(24);
            width: r(24);
            min-width: r(24);
            max-width: r(24);
            height: r(26);
            margin-right: r(9);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m.423 11.235 4.134-.849a4.778 4.778 0 0 0 3.422-3.104L10.113.986l2.999.047-2.43 7.165a7.609 7.609 0 0 1-5.068 4.854l-5.19-1.817Zm22.99 3.877-4.076.837a4.777 4.777 0 0 0-3.431 3.099l-2.166 6.39-2.855-.044-.13-.041 2.447-7.222a7.613 7.613 0 0 1 5.075-4.854l5.137 1.835Zm-6.26-3.124L24 14.504v-3.042l-5.866-2.154c-1.405-.52-2.373-1.687-3.05-3.665l-1.282-4.388-1.572 4.78.144.49c.958 2.849 2.527 4.635 4.78 5.463ZM0 11.875l6.74 2.472c2.343.862 4.047 2.819 4.796 5.516l.138.436-1.53 4.643-1.353-4.294c-.494-1.799-1.573-3.077-3.037-3.616L0 14.917v-3.042Z' fill='%2310222C'/%3E%3C/svg%3E");
            @extend %transition-all-300;
        }
        &:after {
            flex: 0 1 r(23);
            width: r(23);
            min-width: r(23);
            max-width: r(23);
            height: r(14);
            margin-left: r(16);
            transform: rotate(180deg);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%2310222C' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
            @include lg {
                flex: 0 1 r(25);
                width: r(25);
                min-width: r(25);
                max-width: r(25);
                height: r(16);
                margin-left: r(24);
            }
        }
        &:hover {
            &:before {
                transform: rotate(360deg);
            }
        }
    }
}
.btn--lo-a {
    &.btn--bg-2 {
        &:before {
            flex: 0 1 r(24);
            width: r(24);
            min-width: r(24);
            max-width: r(24);
            height: r(26);
            margin-right: r(9);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m.423 11.235 4.134-.849a4.778 4.778 0 0 0 3.422-3.104L10.113.986l2.999.047-2.43 7.165a7.609 7.609 0 0 1-5.068 4.854l-5.19-1.817Zm22.99 3.877-4.076.837a4.777 4.777 0 0 0-3.431 3.099l-2.166 6.39-2.855-.044-.13-.041 2.447-7.222a7.613 7.613 0 0 1 5.075-4.854l5.137 1.835Zm-6.26-3.124L24 14.504v-3.042l-5.866-2.154c-1.405-.52-2.373-1.687-3.05-3.665l-1.282-4.388-1.572 4.78.144.49c.958 2.849 2.527 4.635 4.78 5.463ZM0 11.875l6.74 2.472c2.343.862 4.047 2.819 4.796 5.516l.138.436-1.53 4.643-1.353-4.294c-.494-1.799-1.573-3.077-3.037-3.616L0 14.917v-3.042Z' fill='%23ffffff'/%3E%3C/svg%3E");
            @extend %transition-all-300;
        }
        &:after {
            flex: 0 1 r(23);
            width: r(23);
            min-width: r(23);
            max-width: r(23);
            height: r(14);
            margin-left: r(16);
            transform: rotate(180deg);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
            @include lg {
                flex: 0 1 r(25);
                width: r(25);
                min-width: r(25);
                max-width: r(25);
                height: r(16);
                margin-left: r(24);
            }
        }
        &:hover {
            &:before {
                transform: rotate(360deg);
            }
        }
    }
}
.btn--i,
.btn--i-a {
    &.btn--bg-5,
    &.btn--bg-3,
    &.btn--bg-4 {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 0 .397 2.408a5.09 5.09 0 0 0 4.195 4.195L14 7l-2.408.397a5.09 5.09 0 0 0-4.195 4.195L7 14l-.397-2.408a5.09 5.09 0 0 0-4.195-4.195L0 7l2.408-.397a5.09 5.09 0 0 0 4.195-4.195L7 0Z' fill='%23171F26'/%3E%3C/svg%3E");
        }
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23171F26' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }
    }
    &[disabled] {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 0 .397 2.408a5.09 5.09 0 0 0 4.195 4.195L14 7l-2.408.397a5.09 5.09 0 0 0-4.195 4.195L7 14l-.397-2.408a5.09 5.09 0 0 0-4.195-4.195L0 7l2.408-.397a5.09 5.09 0 0 0 4.195-4.195L7 0Z' fill='%23#C8C8C8'/%3E%3C/svg%3E");
        }
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23#C8C8C8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }
    }
}

.btn--s {
    height: r(35);
    min-height: r(35);
    max-height: r(35);
    padding: r(8) r(16);
    @include lg {
        height: r(40);
        min-height: r(40);
        max-height: r(40);
    }
}
.btn--m {
    height: r(48);
    min-height: r(48);
    max-height: r(48);
    padding: r(12) r(16);
}
.btn--l {
    height: r(48);
    min-height: r(48);
    max-height: r(48);
    padding: r(10) r(16);
    @include lg {
        height: r(54);
        min-height: r(54);
        max-height: r(54);
        padding: r(13) r(24);
    }
}
.btn--bg-1 {
    color: var(--color-1);
    background-color: var(--color-15);
    &:hover {
        background-color: var(--color-28);
    }
    &:active {
        background-color: var(--color-2);
    }
}
.btn--bg-2 {
    color: var(--color-1);
    background-color: var(--color-3);
    &:hover {
        background-color: var(--color-27);
    }
    &:active {
        background-color: var(--color-30);
    }
}
.btn--bg-3 {
    color: var(--color-6);
    background-color: var(--color-10);
}
.btn--bg-5 {
    color: var(--color-6);
    background-color: var(--color-11);
    &:hover {
        color: var(--color-6);
        background-color: var(--color-16);
    }
}
[disabled] {
    color: var(--color-29);
    background-color: var(--color-16);
}

// scroll-btn
.scroll-btn {
    @include fl();
    @include fl-h-centr();
    @include fl-v-centr();
    text-align: left;
    border: none !important;
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    appearance: none !important;
    &:not(.scroll-btn--footer) {
        pointer-events: none;
        cursor: default;
    }
    &:after,
    &:before {
        display: block;
        flex: 0 1 r(30);
        width: r(30);
        min-width: r(30);
        max-width: r(30);
        height: r(30);
        content: "";
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &:after {
        margin-left: r(16);
    }
    &:before {
        margin-right: r(16);
    }
}
.scroll-btn--hero:after,
.scroll-btn--footer:before {
    display: none;
}
.scroll-btn--footer:after {
    transform: rotate(180deg);
}
.scroll-btn__text {
    font-size: r(18);
    line-height: 1.2;
}
.scroll-btn--1 {
    color: var(--color-1);
    &:after,
    &:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.869 2v25M5 15.816 14.87 27M25.684 16.881l-5.357 5.952' stroke='%23fff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        @extend %transition-all-250;
    }
    &:hover {
        color: var(--color-3);
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.869 2v25M5 15.816 14.87 27M25.684 16.881l-5.357 5.952' stroke='%234893F4' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        }
        &:after {
            background-color: transparent;
        }
    }
}
.scroll-btn--2 {
    color: var(--color-6);
    &:after,
    &:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.869 2v25M5 15.816 14.87 27M25.684 16.881l-5.357 5.952' stroke='%2310222C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        @extend %transition-all-250;
    }
    &:hover {
        color: var(--color-3);
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.869 2v25M5 15.816 14.87 27M25.684 16.881l-5.357 5.952' stroke='%234893F4' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        }
    }
}

.btn-cub {
    width: r(48);
    height: r(48);
    padding: r(12);
    border-radius: r(8);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 5.5L5 19.5' stroke='%23292D32' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M19 15.77V5.5H8.73' stroke='%23292D32' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: r(24) r(24);

    @include max-md {
        width: r(40);
        height: r(40);
        padding: r(8);
    }
}

.btn-a-arrow {
    &:after {
        flex: 0 1 r(23);
        width: r(23);
        min-width: r(23);
        max-width: r(23);
        height: r(14);
        margin-left: r(16);
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        @include lg {
            flex: 0 1 r(25);
            width: r(25);
            min-width: r(25);
            max-width: r(25);
            height: r(16);
            margin-left: r(24);
        }
    }
    &.btn--bg-5,
    &.btn--bg-4 {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23171F26' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }
    }
    &[disabled] {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 7.901H1m0 0L7.436 15M1 7.901 6.9 1' stroke='%23#C8C8C8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }
    }
}

.btn--bg-4 {
    color: var(--color-6);
    background-color: var(--color-26);

    &:hover {
        color: var(--color-6);
        background-color: #bedbff;
    }
}



button {
padding: .5rem;
border-radius: .5rem;
background: #000; color: #fff;
border-width: .1rem; border-style: solid; border-color: #000;
cursor: pointer;
    span {
        position: relative;
        z-index: 1;
    }
}
.tooltip { margin-left: 1rem; font-size: 1.2rem; }
button.b2 {
position: relative; overflow: hidden;
}
button.b2 {
background-color: transparent; color: #000;
}
button, button.b2:after {
	transition-duration: 0.25s; transition-timing-function: ease;
}
button.b2:after {
	content: ""; position: absolute; top: 50%; left: 50%; z-index: 0; background-color: #000; width: 120px; height: 120px;
}
button.b2:after { transform: translate(-50%, -50%) scale(0); border-radius: 50%;}
button.b2:hover:after { transform: translate(-50%, -50%) scale(1);}
button.b2:hover span { color: #fafaff;}
