.comapre-h1 em {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
}
.comapre-list .item {
    margin: auto;
    margin-bottom: 20px;
    width: 218px;
    border: 1px solid #ecedef;
}
.comapre-list .item .caption {
    margin-bottom: 0;
    width: auto;
}
.comapre-list .item .title,
.comapre-list .item .cost {
    padding: 0 10px;
}
#content .comapre-list .cost .btn {
    float: none;
    display: block;
    margin: 10px auto 15px;
}
.comapre-list a {
    font-weight: 600;
}
.comapre-list .item .title a {
    display: inline-block;
    margin-left: -1px;
}
.comapre-list .item .title p {
    margin-top: 10px;
    font-weight: 700;
}
.comapre-list .item > img {
    width: 200px;
}
.comapre-list .item .rating {
    float: left;
}
#content .comapre-list .item input {
    margin-bottom: 0;
}
.comapre-list .remove {
    display: block;
    margin: 10px 10px 10px 0;
    font-size: 12px;
    text-align: right;
}
.comapre-list .description li {
    padding: 10px;
    border-top: 1px solid #ecedef;
}
.comapre-list .description li:first-child {
    min-height: 210px;
}
.comapre-list .description li:first-child + * {
    min-height: 160px;
}
.comapre-list .description p {
    font-size: 14px;
}
.comapre-list .item-clear {
    margin: auto;
    width: 220px;
}
.comapre-list .item-clear .remove {
    color: #ecedef;
}
.item-clear-inner {
    position: relative;
    margin: auto;
    width: 198px;
    height: 198px;
    border: 1px solid #ecedef;
}
.item-clear-inner div {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
    padding: 0 45px;
    margin-top: -55px;
    height: 110px;
    text-align: center;
}
.item-clear-inner a {
    font-weight: 700;
}
.item-clear-inner i {
    font-size: 50px;
    line-height: 1;
    color: #f98e3c;
}

/*----------------------------------------------*/
#content .category-content input[type="checkbox"] + span,
.comapre-list input[type="checkbox"] + span {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    /*background-color: #aaa;*/
    border: 1px solid #aaa;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
            box-shadow: inset 0px 0px 0px 3px #fff;
    margin-right: 5px;
    border-radius: 22px;
    display: inline-block;
}
#content .category-content input[type="checkbox"]:checked + span:before,
.comapre-list input[type="checkbox"]:checked + span:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 0 solid #808080;
    border-width: 1px;
    pointer-events: none;
}
.color-1 {
    background-color: #669;
}
.color-2 {
    background-color: #ccc;
}
.color-3 {
    background-color: #c69;
}
.color-4 {
    background-color: #663;
}
.color-5 {
    background: url(../img/check_b.png) center center no-repeat;
}
