/*_________________________________ LOGIN _________________________________*/
.n-customers .btn {
    margin-bottom: 15px;
    width: 220px;
    font-weight: 700;
}
.b-address ul li {
    padding: 10px 0;
}
.b-address ul input {
    width: 100%;
}
.b-address .login {
    width: 110px;
    font-weight: 700;
}
.b-address ul li:last-child a {
    margin-left: 7%;
    vertical-align: middle;
}
.b-address ul li:nth-child(4) {
    font-size: 12px;
    color: #808080;
}
.b-address ul li:nth-child(4) span {
    color: #f68e3b;
}
