/*_________________________________ PRODUCT _________________________________*/
.product-preview {
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    max-width: 550px;
}

#content .product-descript h1,
#content .product-h1 {
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-transform: none;
    color: #000;
}
#content .product-h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    text-transform: none;
    color: #000;
}
#content .product-descript h1 {
    display: none;
    font-size: 34px;
}
#content .product-descript h1 small,
#content .product-h1 small {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #808080;
}
#content .product-h1 small {
    font-size: 16px;
}
/**************************************/
.product-descript-head {
    width: 100%;
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.product-descript-head li {
    display: inline-block;
}
.product-descript-head .label {
    display: none;
}
.product-descript-head form {
    display: inline-block;
}
.product-descript-head span {
    display: inline-block;
    margin-left: 7%;
    font-size: 14px;
    color: #808080;
}
.product-descript-head a {
    display: inline-block;
    margin-right: 10px;
    float: right;
    font-size: 14px;
    font-weight: 600;
}
.product-descript-head li:last-child {
    display: none;
}
.product-descript-head li:nth-child(3) {
    text-align: right;
}
/**************************************/
.select-bar {
    padding: 5px 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.select-bar > li {
    padding: 15px 0;
}
.select-bar .select-wrap {
    float: right;
    display: inline-block;
    width: 200px;
}
.select-bar > li > label {
    position: relative;
    display: inline-block;
    margin-top: 7px;
}
.select-bar > li > label a {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.soc-net-bar {
    display: none;
}
.product-descript #quantity {
    float: right;
    display: inline-block;
}
/**************************************/
.product-footer {
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #d6d6d6;
}
.product-footer .total {
    float: left;
}
.product-footer .total strong {
    font-size: 32px;
}
.product-footer .total span {
    font-size: 24px;
}
.product-footer .link-group {
    display: none;
    position: absolute;
    right: 230px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 41px;
    text-align: right;
}
.product-footer .btn {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    margin-top: -25px;
    width: 180px;
    height: 50px;
    line-height: 50px;
}
.product-footer .link-group a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

/**************************************/
.ui-tabs .ui-tabs-panel {
    padding: 0;
}
#content .prod-tabs-nav a {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    line-height: 40px;
    font-size: 12px;
    margin: 0;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
}
#content .ui-tabs-active a,
#content .ui-state-active a {
    background-color: #f98e3c;
    border: 1px solid #f98e3c;
    border-bottom: none;
    color: #fff;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
#tabs-1,
#tabs-2 {
    margin-top: 20px;
}
#tabs-1 .item .caption,
#tabs-2 .item .caption {
    width: 275px;
}
#tabs h3 {
    color: #000;
}
#prod-tabs-1-1 h3 {
    font-weight: 700;
    margin: 15px 0;
}
#prod-tabs-1-1 > ul:last-of-type ul {
    margin-left: 20px;
}
#prod-tabs-1-1 ul li {
    line-height: 1.6;
}
#content .ui-tabs-anchor h2 {
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
}
/**************************************/
#tabs-2 .prod-tabs-nav li:last-child,
.popular-prod {
    display: none !important;
}
/**************************************/
.review {
    margin-bottom: 30px;
}
.review-head {
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
}
.review-head .star-rating {
    width: 180px;
}
.review-head form > div,
.review-head form {
    display: inline-block;
}
/**************************************/
.review-head .date {
    float: right;
    font-size: 14px;
    color: #808080;
}
.review-head .autor {
    display: block;
    margin-left: 10px;
    font-weight: 600;
    color: #000;
}
.review-body,
.review-body-aside {
    padding-top: 10px;
}
.review-body > p {
    float: left;
    margin-top: 0;
    line-height: 1.6;
}
.review-body p a {
    font-size: 14px;
    font-weight: 600;
}
.review-body-aside {
    display: none;
    float: right;
    width: 24.12138728323699%;
    margin-bottom: 20px;
}
.review-form li > div {
    display: inline-block;
}
.review-body-aside .review-form label {
    display: inline-block;
    min-width: 93px;
    font-size: 14px;
    color: #808080;
}
.review-form .label {
    display: none;
}
.review-footer {
    clear: both;
    padding: 15px 0;
    border-bottom: 1px solid #d6d6d6;
}
#content .recommend {
    font-weight: 700;
    text-decoration: none;
}
.review-footer .recommend {
    display: none;
}
.review-footer > a {
    float: left;
    width: 350px;
}
.review-footer p {
    /*float: right;*/
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #808080;
}
.review-footer p a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.review-footer p em {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: #d6d6d6;
}
.review-footer p a:first-of-type {
    margin: 0 15px 0 20px;
    color: #0fb937;
}
.review-footer p a:last-of-type {
    margin-left: 15px;
    color: #b22715;
}
/**************************************/
.review-list-aside form {
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.review-list-aside .total-rating {
    display: inline-block;
    margin-top: 15px;
}
.review-list-aside-body {
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.review-list-aside-body ul:first-child {
    float: right;
    margin-top: -22px;
}
.review-list-aside-body ul:last-child {
    float: left;
}
.review-list-aside-body ul:last-child .label {
    display: none;
}
.review-list-aside-body label {
    padding-left: 10px;
    font-size: 14px;
    color: #808080;
}
.progressbar {
    width: 90px;
    height: 8px;
    background-color: #ddd;
}
.ui-progressbar-value {
    background-color: #f98e3c;
}
.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: 0;
}
/**************************************/

.review-form .total-rating .label {
    display: block;
}
.review-list-aside form .btn {
    display: block;
    margin: auto;
    clear: both;
    width: 120px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
/**************************************/
.write-rating li > label {
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: #808080;
}
.write-rating li > div {
    float: right;
}
.write-review {
    margin-top: 20px;
    padding-bottom: 15px;
}
.write-review li {
    position: relative;
}
.write-review .input-box {
    float: left;
}
.write-review li input {
    display: block;
    margin: 0 20px 20px 0;
    width: 170px;
}
.write-review li .icheckbox {
    margin-top: 10px;
    float: left;
}
.write-review li p {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 140px;
    height: 80px;
    margin: auto;
    text-align: center;
}

.write-review li p a {
    display: block;
    text-align: center;
}
.write-review ul:first-of-type {
    padding-bottom: 15px;
}
.write-review .label {
    display: none;
}
.write-review textarea {
    margin-top: 20px;
}
#content .write-review h3 {
    padding-bottom: 20px;
}
.write-review .btn {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 140px;
    height: 35px;
    line-height: 35px;
}
.write-review .i_recommend {
    font-size: 14px;
    font-weight: 700;
    color: #f98e3c;
}
.write-rating li:last-of-type .star-rating {
    display: none;
    float: left;
    margin-top: 10px;
    font-size: 1.5rem !important;
}
.write-review > div:last-of-type {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #d6d6d6;
}
.slick-active > a:before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/content/eye.png) 0 0 no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}