/*_________________________________ REGISTER _________________________________*/
#content .register h2 {
    text-transform: none;
    font-weight: normal;
}
.register ul li {
    position: relative;
}
.register input,
.register .icheckbox {
    margin-bottom: 20px;
}
.register li span {
    display: inline;
    vertical-align: middle;
}
.register ul li:nth-child(4) {
    font-size: 12px;
    color: #808080;
}
.register ul li:nth-child(4) span {
    color: #f68e3b;
}
.register .register-btn {
    float: right;
    width: 140px;
}
