

.scroll {
	height: 300px;
	width: 275px;
}

.scroll .jspContainer
{
	overflow: hidden;
	position: relative;
}

.scroll .jspPane
{
	position: absolute;
}

.scroll .jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 10px;
	width: 16px;
	height: 100%;
	background: red;
}

.scroll .jspCap
{
	display: none;
}

.scroll .jspTrack
{
	background: #fff;
	position: relative;
}

.scroll .jspDrag
{
	background: #e8e8e8;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
    width: 6px;
    border-radius: 3px;
}

.scroll .jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.scroll .jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.scroll .jspVerticalBar .jspArrow
{
	height: 16px;
}

.scroll .jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.scroll .jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}



















