/*_________________________________ SH-CART _________________________________*/
.product-card-list {
    padding-bottom: 20px;
}
.product-card-list > li {
    position: relative;
    margin: 20px 0;
}
.product-card-list > li:first-child {
    margin-top: 0;
}
.product-card-list > li:last-child {
    margin-bottom: 0;
}
.sh-cart-f {
    padding-top: 20px;
}
.product-close {
    position: absolute;
    top: 5px;
    right: 15px;
}
.product-close i {
    font-size: 32px;
    color: #e1ddd3;
}
.product-card h2 {
    width: 80%;
    text-transform: none !important;
}
.sh-cart-head {
    display: none;
    float: right;
    width: 87%;
    border-bottom: 1px solid #d6d6d6;
}
.sh-cart-head li {
    display: table-cell;
    width: 1000px;
    padding: 10px 0;
    font-size: 14px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
}
.product-card-prev {
    float: left;
    overflow: hidden;
}
.product-card-prev strong {
    display: block;
}
.product-caption {
    position: relative;
    float: right;
    width: auto;
    vertical-align: middle;
    border-bottom: 1px solid #d6d6d6;
}

.product-caption li:last-child {
    padding-right: 0;
}
.product-caption .wrap {
    margin: 0 0 10px 0;
}
.product-caption li > label {
    display: inline-block;
    min-width: 80px;
    font-size: 14px;
}
.product-caption li > .select-wrap,
.product-caption .sub-total,
.product-caption #quantity {
    float: right;
    display: block;
    padding: 10px 0;
}
.product-caption .sub-total {
    font-size: 18px;
}
.product-caption .sub-total a {
    display: none;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 24px;
    color: #d6d6d6;
}
.product-caption .select-wrap {
    padding-bottom: 10px;
    width: 140px;
}
.product-caption .select-wrap:first-of-type {
    padding-bottom: 10px;
}
#quantity {
    width: 140px;
}
.desct-price {
    display: none;
}
.sh-cart-a-block a {
    display: none;
}
.total div,
.total li {
    padding: 6px 0;
    border-top: 1px solid #d6d6d6;
}
.total div:last-child,
.total li:last-child {
    border-bottom: 1px solid #d6d6d6;
}
.total div:last-child strong,
.total li:last-child strong,
.total div:last-child span,
.total li:last-child span {
    font-size: 24px;
    line-height: 1.8;
}
.total strong,
.total span {
    padding: 0;
}
.total span {
    color: #808080;
}
.total strong {
    float: right;
}
.apply div {
    margin-bottom: 30px;
}
.apply .btn {
    float: right;
    margin-top: 1px;
    width: 100px;
    height: 33px;
    line-height: 33px;
}
#content .apply input {
    float: left;
    width: 64%;
}
.sh-cart-a-block .btn {
    display: block;
    margin: 20px auto 0;
    width: 180px;
    height: 50px;
    line-height: .50px;
}
#content .product-card-list .amount a {
    top: 10px;
}
/*******************my-cart*******************/
.my-cart-head {
    padding: 15px 0;
}
.my-cart-head .close {
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0;
    text-align: center;
    width: 27px;
    height: 26px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 25px;
    margin: auto;
    padding: 0;
    color: #aaa;
    border: none;
    background-color: #fff;
    z-index: 20;
    font-weight: 700;
}
.my-cart-head .close:hover {
    background-color: #e1ddd3;
    color: #fff;
}
.my-cart-head .product-caption {
    position: relative;
    border: none;
    min-height: 120px;
}
.my-cart-head .product-caption strong {
    position: absolute;
    bottom: 0;
    left: 0;
}
.my-cart-head .product-caption h2 {
    font-size: 16px;
    line-height: 1.2;
}
.my-cart-head .product-caption span {
    position: absolute;
    bottom: -25px;
    top: 0;
    margin: auto;
    height: 20px;
    left: 0;
}
.my-cart-head .product-img {
    float: left;
    overflow: hidden;
    width: 25%;
    margin-right: 2%;
}
.my-cart-head .product-caption {
    float: left;
    width: 63%;
}
.my-cart-head .product-close {
    background: transparent;
}
.my-cart-head .product-close:after {
    content: none;
}
.my-cart-head em:after {
    content: "✕";
    padding: 0 10px;
    font-size: 75%;
    font-weight: lighter;
    color: #aaa;
}
.my-cart-header span {
    color: #aaa;
}
.my-cart-head-f {
    position: relative;
    padding: 30px 20px;
    border-left: 1px solid #e1ddd3;
    border-right: 1px solid #e1ddd3;
    background-color: #f5f3ec !important;
    -webkit-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0px 4px 4px 0px #b2b2b2;
            box-shadow: 0px 4px 4px 0px #b2b2b2;
}
.my-cart-head-f .btn {
    position: relative;
    float: right !important;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    width: 100px;
}
.my-cart-head-f strong {
}
.my-cart-head-list li {
    border-top: 1px solid #e1ddd3;
}
.my-cart-head-list li:first-child {
    border-top: none;
}
/*******************my-cart pop-modal*******************/
.popModal_content .my-cart-head-list {
    padding: 10px 0 0 0;
}
.popModal_content h2 {
    font-size: 14px;
}
.popModal_content .my-cart-head {
    position: relative;
    padding-left: 15px;
}
.popModal_content .my-cart-head span {
    color: #aaa;
}
.popModal_content .my-cart-head-list li:first-child {
    border-top: none;
}
/*******************my-cart pop-modal*******************/
.card-img {
    padding: 15px;
}
.card-img img {
    display: block;
    margin: auto;
}
.card-img p {
    color: #434343 !important;
}
