

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #343434;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
a,
ul,
li,
em,
hr,
span,
strong,
input,
fieldset {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
address,
em {
    font-style: normal;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}
/*__________ container ____________*/

.container {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1160px;
    height: 100%;
    /*min-width: 320px;*/
}
.wrapper {
    margin: 0 0 -80px 0;
    padding: 0;
    width: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#footer,
.push {
    height: 80px;
    margin: 0;
    padding: 0;
}
/*_________________________________ TYPOGRAPHY _________________________________*/

h1,
h2,
h3 {
    margin: 0 0 10px 0;
}

a {
    color: #f98e3c;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    /*color: #eb8435;*/
}
a:focus,
input {
    outline: none;
}
/*_________________________________ BUTTONS _________________________________*/
.btn-group {
    display: inline-block;
    position: relative;
    height: 40px;
    vertical-align: middle;
}
.btn-group > ul > li .btn {
    margin-left: -9px !important;
    border-left: 1px solid #dd7833;
    border-right: none;
    -webkit-border-radius: 0px 3px 3px 0px;
            border-radius: 0px 3px 3px 0px;
}
.btn-group > .menu ul {
    position: absolute;
    z-index: 100 !important;
}
.btn-group .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn:first-child {
    border-left: none;
    border-right: 1px solid #f5944d;
    -webkit-border-radius: 3px 0px 0px 3px;
            border-radius: 3px 0px 0px 3px;
}
.btn-group .btn {
    margin-left: -2px;
}
.btn-group .btn,
.btn-group-vertical .btn {
    float: left;
    position: relative;
}
.btn {
    position: relative;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    background: url(../img/main_menu_bg.png) repeat-x, #f98e3c;
    -webkit-background-size: cover;
            background-size: cover;
    border: transparent;
    border-bottom: 2px solid #c2622b;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 1px #db7b33;
    text-transform: uppercase;
    color: #fff;
    height: 2.500rem;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:active,
.btn:hover {
    opacity: .90;
    filter: alpha(opacity=90);
}

/*_________________________________ HEADER _________________________________*/
#header {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 61px;
    border-bottom: 1px solid rgba(52, 52, 52, .2);
}
.logo {
    position: relative;
    left: 0;
    right: 0;
    margin: 15px auto;
    width: 195px;
}
.header-bar {
    display: none;
    margin: 25px 0 15px 0;
    width: auto;
}
/*search*/
.search-form {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0 !important;
    width: auto;
    text-align: right;
}
.search {
    position: relative;
    display: inline-block;
    position: relative;
    margin: 0 0 15px 0;
}
.search i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
}
input[name="search-form"] {
    margin: 10px 0;
    padding-left: 5%;
    position: relative;
    width: 80%;
    height: 50px;
    font-size: 15px;
    border: 1px solid #ed8638;
    background-color: #f8ae75;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    text-shadow: 0px 3px 1px #db7b33;
    color: #fff;
}
.search-form .btn-group {
    margin: 0 5px;
}
.checkout {
    padding: 0 40px;
}
.my-cart {
    padding: 0 16px;
}
.count {
    width: 35px;
}
.like {
    width: 40px;
}
.checkout,
.my-cart,
.like {
    background-color: #f98e3c;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F98E3C, endColorstr=#E77534);
    background-image:    -moz-linear-gradient(top, #f98e3c 0%, #e77534 100%);
    background-image: -webkit-linear-gradient(top, #f98e3c 0%, #e77534 100%);
    background-image:     -ms-linear-gradient(top, #f98e3c 0%, #e77534 100%);
    background-image:         linear-gradient(top, #f98e3c 0%, #e77534 100%);
    background-image:      -o-linear-gradient(top, #f98e3c 0%, #e77534 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#f98e3c), color-stop(100%,#e77534));
}
/*_________________________________ MENU _________________________________*/

/*___________ main-menu ___________*/
.main-menu {
    position: relative;
    z-index: 1;
    display: none;
    width: 100%;
    margin-top: 15px;
    height: 60px;
    border-bottom: 2px solid #c2622b;
    background-color: #fff;
}
.main-menu > li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.main-menu > li > a {
    display: table-cell;
    width: 1000px !important;
    line-height: 1;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
    height: 58px;
    border-top: 1px solid #dd7833;
    border-left: 1px solid #f5944d;
    border-right: 1px solid #dd7833;
    border-bottom: none;
    background: url(../img/main_menu_bg.png) repeat-x, #f98e3c;
    text-shadow: 0px 2px 1px #db7b33;
    color: #fff;
}
.main-menu li ul {
    background: #fff;
}
.nav li li a {
    background: #fff;
}
.main-menu li > a:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}
.main-menu > li:first-child > a {
    border-left: 1px solid #dd7833;
}
/*___________ top-menu ___________*/
.top-menu {
    display: none;
    border-bottom: 1px solid #f1f1f1;
    text-align: right;
}
.top-menu li {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
}
.top-menu li:last-child a {
    font-weight: 700;
}
.top-menu a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
}
/*___________ footer-menu ___________*/
.footer-menu {
    margin-top: 45px;
    border-top: 1px solid #f1f1f1;
    text-align: center;
}
.footer-menu li {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
}
.footer-menu a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
}
/*_________________________________ CONTENT _________________________________*/

#content h1,
#content h2,
#content h3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
}
#content h3 {
    padding-bottom: 0;
    text-transform: none;
}
#content a {
    text-decoration: underline;
}
.dotted {
    border-bottom: 2px dotted #d2d2d2;
}
.solid {
    border-bottom: 1px solid #d2d2d2;
}
input,
textarea {
    width: 100%;
    padding-left: 15px;
    height: 36px;
    border: 1px solid #d6d6d6;
}
input[type="checkbox"] {
    margin: 0;
    width: auto;
    height: 0;
}
#content textarea {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
#content .title-product {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    line-height: 44px;
}
#content .title-product small {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #808080;
}
/*___________ item ___________*/

.item {
    width: 275px;
}
.item .caption {
    width: 275px;
    margin: 10px auto;
}
.item img {
    display: block;
    margin: auto;
}
.item .title a {
    display: none;
    float: right;
    margin-left: 10px;
    font-size: 12px;
    text-decoration: underline;
}
.item > p {
    margin: 5px 0;
    font-weight: 600;
}
.item .rating {
    margin: auto;
    width: 105px;
}
.item .cost .btn {
    display: block;
    margin-top: 5px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.item .cost span {
    display: inline-block;
    font-size: 12px;
    color: #808080;
}
.item .cost span:first-child {
    margin-right: 30px;
}
.item .cost strong {
    font-size: 16px;
    color: #000;
}
.pagination {
    clear: both;
}
/*___________ selects ___________*/
.dd-select {
    height: 36px;
    /*background: url(../img/sel_divid.png) 103px 0 no-repeat, #fff !important;*/
    -webkit-background-size: cover;
            background-size: cover;
}
.select-wrap .dd-options li:after {
    content: none;
}
.dd-options,
.dd-options li {
    width: 100%;
}
.dd-options li {
    width: 100%;
    height: 36px;
}
.dd-pointer {
    right: 13px !important;
}
#content .dd-container a {
    text-decoration: none;
    font-weight: normal;
    color: #75757c;
}

/*___________ placeholder ___________*/
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}
::-webkit-input-placeholder {
    color: #000;
}
::-moz-placeholder {
    color: #000;
}/* Firefox 19+ */
:-moz-placeholder {
    color: #000;
}/* Firefox 18- */
:-ms-input-placeholder {
    color: #000;
}
input[placeholder] {
    text-overflow: ellipsis;
}
input::-moz-placeholder {
    text-overflow: ellipsis;
}
input:-moz-placeholder {
    text-overflow: ellipsis;
}
input:-ms-input-placeholder {
    text-overflow: ellipsis;
}
/*___________ rating ___________*/

.rating span {
    float: left;
    width: 16px;
    height: 15px;
    background: url(../img/rating.png);
    margin: 0 2px 0 0;
    cursor: pointer;
}
.rating span.active {
    background-position: bottom;
}
/*___________ amount ___________*/
.amount {
    position: relative;
}
#content .amount input {
    padding-left: 67px;
    width: 140px;
    height: 36px;
}
#content .amount a {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #75757c;
}
.amount .minus {
    left: 0;
    border-right: 1px solid #d6d6d6;
}
.amount .plus {
    right: 0;
    border-left: 1px solid #d6d6d6;
}
/*___________ breadcrumb ___________*/

.breadcrumb {
    display: none !important;
    margin-bottom: 20px;
}
#content .breadcrumb li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}
#content .breadcrumb li:last-child {
    color: #f98e3c;
}
#content .breadcrumb a {
    font-size: 14px;
    text-decoration: none;
    color: #808080;
}

.breadcrumb > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
/*___________ checkbox ___________*/
.icheckbox {
    float: left;
    margin: 3px 10px 0 0;
    width: 16px;
    height: 16px;
    background: url(../img/icheck.png);
    cursor: pointer;
}

.icheckbox.checked {
    background-position: bottom;
}
/*_________________________________ ASIDE _________________________________*/
aside {
    display: none !important;
}
#content aside li {
    padding: 5px 0;
    color: #343434;
}
#content aside a {
    font-weight: 500;
    color: #343434;
    text-decoration: none;
}
#content .filter {
    font-size: 12px;
    text-transform: none;
    text-decoration: underline;
    color: #808080;
}
#content .aside .active {
    font-weight: 600;
    color: #f98e3c;
}
/*////////////////////////////////////////*/

nav {
    display: block;
    background: none;
}

.menu {
    display: block;
}

.menu li {
    /*display: inline-block;*/
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.main-menu .menu li a {
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    transition: all .2s ease-in-out 0s;
}
.main-menu .menu {
    padding: 10px 0 0 0;
}

.btn-group > ul {
    display: inline-block;
    padding: 0 8px;
    width: 35px;
}
.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    top: 60px;
    background: #fff;
    z-index: 99;
    transform: translate(0, 0px);
    transition: all .2s ease-out;
    -webkit-box-shadow: 0px 4px 5px 0px #b2b2b2;
            box-shadow: 0px 4px 5px 0px #b2b2b2;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: #797979;
    background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover > a {
    background: #f5f3ec;
    color: #434343;
}

.menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(0px, 0px);
    transition: all .2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li > ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #e95546;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #e95546;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: #fc6d58;
}
@media (min-width: 768px) and (max-width: 979px) {
    /*.mainWrap { width: 768px; }*/

    /*.menu ul { top: 37px; }*/

    /*.menu li a { font-size: 12px; }*/

    a.homer {
        background: #e95546;
    }
}
@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }
    .menu li .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,
    .menu li:hover > a {
        background: #fc6d58;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover > ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li > ul ul:hover {
        transform: initial;
    }
}


/*_________________________________ FOOTER _________________________________*/



/* ==========================================================================
   Helpers
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
textarea[contenteditable],
input {
    -webkit-appearance: none;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
