/*header*/
.header {
    position: fixed;
    z-index: 103 !important;
    top: 0;
    left: 0;
    visibility: hidden;
    flex: 0 0 auto;
    width: 100%;
    transition: all 250ms linear;
    transform: translateY(r(-111));
    opacity: 0;
    @include xl {
        transform: translateY(r(-148));
    }
    @include max-xl {
        transform: none !important;
    }
    &.header--complete {
        transform: none !important;
    }
    &.out {
        transform: translateY(-120%) !important;
    }
    .body-locked & {
        transform: none !important;
    }
    &:after {
        @include xl {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            content: "";
            background-color: var(--color-35);
        }
        .header-dark & {
            display: none;
        }
    }
}
.header-dark {
    .header {
        &.fixed {
            background-color: var(--color-2);
            .header__top {
                background-color: var(--color-34);
            }
        }
        &.header--light {
            &:after {
                display: block;
            }
        }
    }
}
.header__container {
    position: relative;
    @include media-md-lg {
        padding-right: r(24);
        padding-left: r(24);
    }
}
.header__container,
.header__right {
    @include fl();
    @include fl-between();
    @include fl-v-centr();
}
.header__right {
    @include xxl {
        padding-right: r(4);
    }
}
.header__logo {
    width: r(135);
    height: r(38);
    @include max-md {
        margin-left: r(-16);
    }
    @include media-md-lg {
        position: relative;
        top: r(-2);
    }
    @include lg {
        width: 135px;
        height: 38px;
    }
    @include xl {
        width: r(185);
        height: auto;
    }
}
.header-logo--menu {
    visibility: hidden !important;
    margin: 0 0 r(27) 0;
    opacity: 0 !important;
    @include xl {
        display: none;
    }
}
.header-logo__pic,
.header-logo__img {
    display: block;
    width: 100%;
    height: 100%;
}
.header__top {
    padding: r(16) 0 r(10);
    background: var(--color-21);
    background: var(--color-32);
    .header-dark & {
        @include max-lg {
            background: var(--color-32);
        }
    }
    @include media-md-lg {
        padding-right: r(8);
        padding-left: r(8);
    }
    @include xl {
        padding-top: r(14);
        padding-bottom: r(15);
    }
}

// header-contact
.header-contact {
    @include fl();
    @include fl-v-centr();
    list-style: none;
}
.header-contact__link {
    font-size: r(12);
    margin-right: r(8);
    color: var(--color-1);
    &:hover {
        color: var(--color-3);
    }
    @include lg {
        font-size: 12px;
    }
    @include xl {
        font-size: r(16);
        margin-right: r(24);
    }
}
.header__bottom {
    padding: r(12) r(20);
    background: var(--color-12);
    @include md {
        padding: r(24) 0 r(16);
    }
    @include xl {
        padding-top: r(22);
        padding-bottom: r(25);
    }
    .header__contact {
        width: 100%;
        max-height: r(40);
        margin: r(9) 0 r(17) 0;
        padding: 0 0 0 r(11);
        @include md {
            display: none;
        }
    }
}
.header-contact__item {
    font-size: inherit;
    margin-bottom: 0;
    color: inherit;
    @include fl();
    @include fl-h-centr();
    @include fl-v-centr();
    &:before {
        position: relative;
        top: 0;
        left: 0;
        width: r(1);
        height: r(16);
        margin: 0 r(-3);
        content: "";
        @include md {
            margin-right: r(21);
            margin-left: r(21);
        }
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
    @include max-md {
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();

    }
}

// header-link
.header-link {
    @include fl();
    @include fl-column();
    @include md {
        @include fl-row();
    }
}
.header-link--m {
    @include fl();
    @include fl-column();
    margin-bottom: r(121);
    border-bottom: r(1) solid var(--color-31);
    @include xl {
        display: none;
    }
    .header-link__link {
        font-size: r(18);
        font-weight: var(--font-weight-medium);
        margin: 0 0 r(24) 0;
    }
}
.header-link--d {
    display: none;
    @include xl {
        display: block;
    }
}
.header-link__link {
    font-size: r(12);
    margin-left: r(8);
    color: var(--color-1);
    &:hover {
        color: var(--color-3);
    }
    @include xl {
        font-size: r(16);
        margin-right: r(37);
        &:first-child {
            margin-right: r(21);
        }
    }
}

// @include headerLight();
@mixin headerLight() {
    //    @include xl {
    background-color: var(--color-1);
    .header-toggle,
    .header-logo__pic {
        filter: brightness(0);
    }
    .header__top {
        background: var(--color-32);
    }
    .header__bottom {
        background-color: var(--color-1);
        a {
            color: var(--color-2);
            @include max-xl {
                color: var(--color-1);
            }
        }
        .contact-menu-item {
            a {
                color: var(--color-1) !important;
                @include xl {
                    background-color: var(--color-3);
                }
                &:after {
                    @include xl {
                        overflow: hidden;
                        border-radius: r($border-radius-xxs);
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.901h23m0 0L17.564 15M24 7.901 18.1 1' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
                    }
                }
            }
            &:hover {
                a {
                    @include xl {
                        background-color: var(--color-27);
                    }
                }
            }
            &:active {
                a {
                    @include xl {
                        background-color: var(--color-30);
                    }
                }
            }
        }
        .sub-main-menu {
            @include xl {
                background-color: var(--color-11);
            }
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 12L0 12L12 0L24 12Z' fill='%23F5F8FA'/%3E%3C/svg%3E");
            }
            a {
                @include xl {
                    color: var(--color-6);
                }
                &:hover {
                    color: var(--color-3);
                    @include xl {
                        background-color: var(--color-10);
                    }
                }
            }
        }
    }
    //    }
}

/*header--light */
body {
    &:not(.header-dark) {
        @include headerLight();
    }
}
.header--light {
    @include headerLight();
    &:after {
        @include xl {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            height: 1px;
            content: "";
            background-color: var(--color-35);
        }
    }
}
.header--light {
    .sub-main-menu {
        .current-menu-item {
            a {
                color: var(--color-3) !important;
                @include xl {
                    background-color: var(--color-10) !important;
                }
            }
        }
    }
}

/*header--transparent*/
.header--transparent {
    .header__top {
        background: var(--color-21);
    }
    .header__bottom {
        background: transparent;
    }
}

.body-locked {
    .header,
    .header__bottom {
        @include max-xl {
            background: transparent !important;
        }
    }
    .header-logo__pic,
    .header-toggle {
        @include max-xl {
            filter: brightness(1) !important;
        }
    }
}

/*header--service-2*/
.header--service-2 {
    .header__bottom {
        transition: all .15s ease-in-out;
        @include xl {
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
        }
    }
}

/*page-talent*/
.page-talent {
    .header__bottom {
        @include max-xl {
            background: var(--color-3) !important;
        }
    }
    &.body-locked {
        .header__bottom {
            @include max-xl {
                background: transparent !important;
            }
        }
    }
    .header-logo__pic {
        @include max-xl {
            filter: brightness(1) !important;
        }
    }
    .header-toggle {
        span {
            @include max-xl {
                color: var(--color-1) !important;
            }
        }
        path {
            stroke: var(--color-1) !important;
        }
    }
}
