@import 'utils/variable';
@import 'utils/mixin';
@import 'utils/placeholder';

@import 'base/font';
@import 'base/reset';
@import 'base/type';
@import 'base/btn';
@import 'base/form';
@import 'base/grid';
@import 'base/common';

@import 'component/card';
@import 'component/star-parallax';

@import 'templ/header';
@import 'templ/footer';
@import 'templ/menu';
@import 'templ/lang';

@import 'component/marquee';

@import 'section/loader';

@import 'section/about-hero';
@import 'blocks/img--block';
@import 'section/infinites';
@import 'section/map-section';
@import 'section/still-uncertain';
@import 'section/value-that';
@import 'section/motivation';
@import 'section/star-section';
@import 'section/universe';
@import 'section/team';



.top__line {
  border-radius: r(16) r(16) 0 0;
  border: 2px solid var(--color-16);
  height: r(42);
  border-bottom: 0;
  margin: 0 r(-28) r(86);

  @include max-md {
    border-radius: r(8) r(8) 0 0;
    height: r(29);
    margin: 0 r(-12) r(14);

  }
}

.marquee--ticker {
  .marquee__item {
    .marquee__text {
      font-size: r(32);
      font-weight: var(--font-weight-light);
      line-height: 1.1;
      letter-spacing: .015em;
      text-transform: uppercase;
      color: var(--color-6);
      @include md {
        font-size: r(64);
      }

      span {
        background: -webkit-linear-gradient(152deg, #ce73e2 34.58%, #4893f4 103.69%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }
}