@import 'utils/variable';
@import 'utils/mixin';
@import 'utils/placeholder';

@import 'base/font';
@import 'base/reset';
@import 'base/type';
@import 'base/btn';
@import 'base/form';
@import 'base/grid';
@import 'base/common';

@import 'component/card';
@import 'component/star-parallax';

@import 'templ/header';
@import 'templ/footer';
@import 'templ/menu';
@import 'templ/lang';

@import 'section/loader';

@import 'blocks/img--block';
@import 'section/contact';
@import 'section/contact-hero';
@import 'section/careers-hero';
@import 'section/work-sense';
@import 'section/working-environment';
@import 'section/still-uncertain';
@import 'section/speak-expert';
@import 'section/job-offer';
@import 'blocks/job-card';
@import 'section/review';
@import 'section/academy';
@import 'section/career-planning';
@import 'section/departments';

.section--loader {
  display: none !important;
}

.top__line {
  border-radius: r(16) r(16) 0 0;
  border: 2px solid var(--color-16);
  height: r(42);
  border-bottom: 0;
  margin: 0 r(-28) r(86);

  @include max-md {
    border-radius: r(8) r(8) 0 0;
    height: r(29);
    margin: 0 r(-12) r(14);

  }
}

.card--review {

  &.type-2 {

    .card__caption {
      flex: 0 1 r(1200);
      min-width: r(1200);
      max-width: r(1200);
      margin-left: r(136);
      margin-right: r(20);
    }

    .card__top {
      padding: r(64) r(60) r(74);
    }

    .card__title {
      font-weight: 500;
      font-size: r(32);
      line-height: 1.2;
      margin-bottom: r(32);
    }

    .card__text {
      font-weight: 300;
      font-size: r(32);
      line-height: 1.5;

      span {
        color: var(--color-5);
      }
    }

    .card__icon {
      width: r(225);
      height: r(134);

      &:before {
        left: r(-5);
        width: r(107);
        height: r(108);
      }
    }

    .card__inner {
      padding-left: r(50);
      padding-bottom: r(6);
    }

    .card__name {
      font-size: r(24);
      line-height: 1.25;
      margin-bottom: r(4);
    }

    .card__role {
      font-size: r(18);
      line-height: 1.5;
    }
  }
}

.section--review__full {
  padding-bottom: r(42);
  .swiper-review {
    max-width: 100%;
  }
}