/* @extend %transition-all-250; */
%transition-all-250 {
    transition: all var(--transition-all-250) linear;
}
%transition-all-100 {
    transition: all var(--transition-all-100) linear;
}
%transition-all-300 {
    transition: all var(--transition-all-300) ease-out;
}
%transition-all-300-ease-in-out {
    transition: all var(--transition-all-300) ease-in-out;
}
// @extend %transition-none;
%transition-none {
    transition: all 0s;
}
