:root {
    --font-family-base: "Nohemi";

    --font-size-root: 16px;
    --font-size-root-md: 2.081w;
    --font-size-root-lg: .925925vw;
    --font-size-body: 1rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --line-height-body: 1.5;

    --letter-spacing-base: normal;

    --app-height: 100%;

    --color-1: #FFF;
    --color-2: #000;
    --color-3: #4893F4;
    --color-4: #CE73E2;
    --color-5: #ED994A;
    --color-6: #10222C;
    --color-7: #95E487;
    --color-8: #666;
    --color-9: #A3AFB9;
    --color-10: #EAF3FE;
    --color-11: #F5F8FA;
    --color-12: #151518;
    --color-13: #212124;
    --color-14: #0b0b0b;
    --color-15: #171F26;
    --color-16: #ECECEC;
    --color-17: #EAF3FE;
    --color-18: #FFD5AD;
    --color-19: #CBD9FE;
    --color-20: #F44848;
    --color-21: rgba(255, 255, 255, .05);
    --color-22: rgba(255, 255, 255, .5);
    --color-23: rgba(255, 255, 255, .1);
    --color-24: rgba(0, 0, 0, .5);
    --color-25: #959595;
    --color-26: #d2e5fd;
    --color-27: #237df2;
    --color-28: #3C3C41;
    --color-29: #C8C8C8;
    --color-30: #3189FB;
    --color-31: rgba(255, 255, 255, .2);
    --color-32: #1F1F1F;
    --color-33: rgba(224, 224, 224, .5);
    --color-34: #0d0d0d;
    --color-35: #E0E0E0;
    --color-36: #b3d4ff;
    --color-37: #F2F8FF;
    --color-38: #E8F2FF;
    --color-39: #DBEAFE;
    --color-40: #d9d9d9;
    --color-41: rgba(0, 0, 0, .1);
    --color-42: rgba(245, 248, 250, .2);

    // Gradient
    --grad-color-1: linear-gradient(91.36deg, #4893F4 34.58%, #CE73E2 103.69%);

    // Systemic

    --transition-all-250: 250ms;
    --transition-all-300: 300ms;

}

// rem mixin
$font-size-base: 16px !default;

// media-querie
$xs-width: 375px !default;
$sm-width: 576px !default;
$md-width: 768px !default;
$lg-width: 992px !default;
$xl-width: 1200px !default;
$xxl-width: 1440px !default;
$xxxl-width: 1600px !default;
$desc-width: 1920px !default;
$descLg-width: 2560px !default;

//border-radius
$border-radius-xxs: 4 !default;
$border-radius-xs: 8 !default;
$border-radius-s: 16 !default;
$border-radius-m: 24 !default;
$border-radius-l: 100 !default;
$border-radius-xl: 120 !default;
$border-radius-xxl: 160 !default;
$border-radius-round: 50% !default;


$border-radius-1: 18 !default;
$border-radius-2: 80 !default;
$border-radius-3: 6 !default;
$border-radius-4: 10 !default;
$border-radius-5: 60 !default;
$border-radius-6: 12 !default;
$border-radius-7: 9.4 !default;
$border-radius-8: 20 !default;

$w-container: 100% !default;
