/*marquee*/
.marquee {
    width: 100%;
}
.marquee__inner {
    @include fli();
    position: relative;
    white-space: nowrap;
}
.marquee__item {
    position: relative;
    @include fl();
    @include fl-v-centr();
    padding-right: r(40);
}
.marquee--feedback {
    margin: r(45) 0;
    @include lg {
        margin-top: r(56);
        margin-bottom: r(56);
    }
    .marquee__content {
        @include fl();
        @include fl-v-centr();
        font-size: r(24);
        line-height: 1;
        text-transform: uppercase;
        @include lg {
            font-size: r(88);
        }
    }
    .marquee__text {
        margin-right: r(40);
        white-space: nowrap;
    }
    .marquee__icon {
        position: relative;
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();
        top: r(-4);
        overflow: hidden;
        flex: 0 1 r(48);
        width: r(48);
        min-width: r(48);
        max-width: r(48);
        height: r(32);
        min-height: r(32);
        max-height: r(32);
        @extend %transition-all-300;
        border-radius: r($border-radius-xs);
        background-color: var(--color-1);
        @include lg {
            flex: 0 1 r(102);
            width: r(102);
            min-width: r(102);
            max-width: r(102);
            height: r(72);
            min-height: r(72);
            max-height: r(72);
            border-radius: r($border-radius-s);
        }
        svg {
            transform: rotate(-45deg);
        }
    }
}
