/*swiper*/
.swiper-control {
    @include fl();
    @include fl-v-centr();
}

/*swiper-scroll*/
.swiper-scroll {
    position: relative;
    z-index: 1;
    width: 98%;
    height: r(1) !important;
    background-color: var(--color-8);
}
.swiper-scroll__line {
    position: absolute;
    z-index: 2;
    top: r(-1);
    left: 0;
    height: r(3) !important;
    transition: .3s width;
    border-radius: r($border-radius-4);
    background-color: var(--color-3);
}

/*swiper-scrollbar*/
.swiper-scrollbar {
    position: static !important;
    height: r(1) !important;
    border-radius: 0 !important;
    background-color: var(--color-8);
}
.swiper-scrollbar-drag {
    position: relative;
    top: r(-1);
    height: r(3) !important;
    background-color: var(--color-3);
}
.swiper-nav {
    position: relative;
    z-index: 1;
    @include fli();
    @include fl-v-centr();
    flex: 0 1 r(94);
    min-width: r(94);
    max-width: r(94);
    height: r(40);
    min-height: r(40);
    max-height: r(40);
    margin-left: r(18);
    padding: 0 r(14);
    border: r(1) solid var(--color-8);
    border-radius: r($border-radius-xs);
    @extend %transition-all-250;
    @include lg {
        flex: 0 1 r(117);
        min-width: r(117);
        max-width: r(117);
        height: r(46);
        min-height: r(46);
        max-height: r(46);
        margin-left: r(88);
        padding: 0 r(26);
    }
    &:before,
    &:after {
        position: absolute;
        right: 0;
        left: 0;
        width: r(2);
        height: r(6);
        margin: auto;
        content: "";
        background-color: var(--color-8);
        @extend %transition-all-250;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &:hover {
        border-color: var(--color-3);
        &:before,
        &:after {
            background-color: var(--color-3);
        }
    }
}
.swiper-button-prev,
.swiper-button-next {
    position: static;
    flex: 0 1 r(24);
    min-width: r(24);
    max-width: r(24);
    height: r(24);
    min-height: r(24);
    max-height: r(24);
    margin: 0 r(4) !important;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9998 20.67C14.8098 20.67 14.6198 20.6 14.4698 20.45L7.94979 13.93C6.88979 12.87 6.88979 11.13 7.94979 10.07L14.4698 3.55002C14.7598 3.26002 15.2398 3.26002 15.5298 3.55002C15.8198 3.84002 15.8198 4.32002 15.5298 4.61002L9.00979 11.13C8.52979 11.61 8.52979 12.39 9.00979 12.87L15.5298 19.39C15.8198 19.68 15.8198 20.16 15.5298 20.45C15.3798 20.59 15.1898 20.67 14.9998 20.67Z' fill='%234893F4'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:after {
        display: none !important;
    }
}
.swiper-button-next {
    transform: rotate(180deg);
}
