@font-face {
    font-family: "Epilogue";
    src: url('../../assets/fonts/Epilogue-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Epilogue";
    src: url('../../assets/fonts/Epilogue-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Epilogue";
    src: url('../../assets/fonts/Epilogue-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Epilogue";
    src: url('../../assets/fonts/Epilogue-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Epilogue";
    src: url('../../assets/fonts/Epilogue-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
