$white: #fff !default;
$black: #000 !default;
$gray: #B8BEC8 !default;
$dark-1: #18181A !default;
$dark-2: #3B3D40 !default;
$dark-3: #1C1C1C !default;
$accent: #FEB2B2 !default;
$accent-1: #FF9D9D !default;


// font
$font-family-base: "Epilogue", sans-serif !default;
$font-size-base: 20px !default;
$font-weight-base: 400 !default;
$line-height-base: 1.3333333333333333 !default;

// media-querie
$xs-width: 480px !default;
$sm-width: 576px !default;
$md-width: 768px !default;
$lg-width: 992px !default;
$xl-width: 1200px !default;
$xxl-width: 1440px !default;
$xxxl-width: 1600px !default;

//container
// $container-main: 1140px !default;

// $border-radius-0: 0 !default;
$border-radius-5: 5px !default;
// $border-radius-8: 8px !default;
// $border-radius-34: 34px !default;
$border-radius-round: 50% !default;
