/*about*/
.section--about {
    z-index: 2;
    overflow: visible;
    @include section-before();
    padding-top: r(37);
    &:before {
        @include lg {
            margin-bottom: r(34);
        }
    }
    @include lg {
        padding-top: r(131);
    }
    .tagline {
        font-size: r(18);
        font-weight: var(--font-weight-light);
        max-width: r(1123);
        @include max-md {
            margin-top: r(9);
        }
        @include md {
            font-size: r(32);
        }
        @include lg {
            margin: r(4) 0 0 r(14);
        }
    }
    .section__container {
        @include md {
            padding-right: r(30);
            padding-left: r(30);

        }
    }
    .section__content {
        @include fl();
        @include max-md {
            margin-top: r(-5);
        }
    }
    .decor {
        @include max-lg {
            display: none;
        }
        @include lg {
            position: relative;
            top: r(-63);
            width: r(423);
        }
    }

    /*pattern*/
    .pattern {
        @include fl();
        @include fl-between();
        @include max-lg {
            @include fl-h-end();
            margin-top: r(-24);
            margin-right: r(-20);
        }
        @include lg {
            margin-top: r(-90);
        }
    }
    .pattern__item--1 {
        @include max-lg {
            display: none;
        }
        @include lg {
            position: relative;
            top: r(-16);
            left: r(-8);
            width: r(414);
        }
        @include descLg {
            top: auto;
            right: r(-9);
            bottom: 0;
        }
        img {
            @include descLg {
                @include object-fit-cover();
            }
        }
    }
    .pattern__item--2 {
        @include max-lg {
            width: r(162);
        }
        @include lg {
            position: relative;
            top: r(-144);
            right: r(-9);
            width: r(399);
        }
        @include descLg {
            top: auto;
            bottom: r(36);
        }
        img {
            @include object-fit-cover();
        }
    }
    .section-text__accent {
        .badge {
            position: relative;
            top: r(6);
            display: inline-block;
            min-width: r(58);
            max-width: r(58);
            height: r(28);
            min-height: r(28);
            max-height: r(28);
            margin-right: r(10);
            content: "";
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 58 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='57' height='27' rx='13.5' stroke='%23333'/%3E%3Cpath d='M12.24 13.86h33.52m0 0L36.107 24m9.655-10.14L36.91 4' stroke='%2310222C' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include md {
                top: 0;
            }
            @include lg {
                top: r(8);
                min-width: r(100);
                max-width: r(100);
                height: r(42);
                min-height: r(42);
                max-height: r(42);
                margin-right: r(13);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='99' height='41' rx='20.5' stroke='%23333'/%3E%3Cpath d='M20 20.817h60m0 0L67.126 34M80 20.817 68.2 8' stroke='%2310222C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            }
        }
    }
}

/*section--about-1*/
.section--about-1 {
    &:before {
        @include lg {
            display: none;
        }
    }
    @include max-lg {
        padding-bottom: r(17);
    }
    @include lg {
        padding-top: r(134);
        padding-bottom: r(138);
    }
    .section__container {
        @include lg {
            padding-right: r(60);
            padding-left: r(60);
        }
    }
    .section__content {
        @include max-lg {
            @include fl-column();
        }
    }
    .section__tag {
        @include max-lg {
            margin-top: r(7);
            margin-bottom: r(10);
        }
    }
    .tagline {
        font-size: r(28);
        line-height: 1.25;
        @include lg {
            font-size: r(48);
            margin: r(-20) 0 0 r(70);
        }
        @include xl {
            margin-left: r(200);
        }
        span:not([class]) {
            color: var(--color-9);
        }
    }

    /*pattern*/
    .pattern__item {
        position: relative;
    }
    .pattern__item--1 {
        bottom: r(-16);
        left: r(-60);
        width: r(299);
        height: r(227);
        @include max-lg {
            display: none;
        }
    }
    .pattern__item--2 {
        right: r(-52);
        bottom: r(-6);
        width: r(217);
        height: r(228);
        @include max-lg {
            display: none;
        }
    }
    .pattern__item--3 {
        right: 0;
        bottom: r(22);
        width: r(107);
        height: r(101);
        @include lg {
            display: none;
        }
    }

    /*card--counter*/
    .card--counter {
        @include lg {
            padding: r(38) 0 r(42);
        }
        .card__title {
            @include fl();
            @include fl-v-end();
            font-size: r(32);
            line-height: 1;
            margin-bottom: r(13);
            white-space: nowrap;
            color: var(--color-6);
            @include md {
                font-size: r(48);
            }
            @include md {
                font-size: r(64);
                height: r(70);
            }
        }
        .card__text {
            font-size: r(12);
            line-height: 1.25;
            color: var(--color-9);
            @include md {
                font-size: r(18);
                line-height: 1.2;
            }
        }
        .card__bar {
            position: absolute;
            right: r(46);
            bottom: 0;
            width: r(1);
            height: 0;
            background-color: var(--color-6);
            @include max-xl {
                display: none;
            }
        }
    }
    .odometer {
        .odometer-formatting-mark {
            position: relative;
            color: transparent;
            &:before {
                position: absolute;
                top: 0;
                right: 0;
                content: "'";
                color: var(--color-6);
            }
        }
        &[data-value="100"] {
            .odometer-inside {
                .odometer-digit {
                    &:first-child {
                        @include xl {
                            width: r(44);
                        }
                    }
                }
            }
        }
    }

    /*m-grid--counter*/
    .m-grid--counter {
        @include max-lg {
            margin-top: r(-10);
        }
        @include lg {
            margin-top: r(87);
            border-right: r(1) solid var(--color-2);
            border-bottom: r(1) solid var(--color-2);
            border-left: r(1) solid var(--color-2);
            border-bottom-right-radius: r($border-radius-s);
            border-bottom-left-radius: r($border-radius-s);
        }
        .m-grid__item {
            @include fl-width-50();
            @include max-lg {
                padding-bottom: r(24);
            }
            @include lg {
                @include fl-width-25();
            }
            &:first-child {
                .card--counter {
                    @include lg {
                        padding-left: r(38);
                    }
                }
            }
            &:last-child {
                .card--counter {
                    @include lg {
                        padding-left: r(15);
                    }
                }
                .card__title {
                    font-size: r(18);
                    font-weight: var(--font-weight-semi-bold);
                    @include max-lg {
                        margin-top: r(2);
                    }
                    @include lg {
                        font-size: r(48);
                        position: relative;
                        top: r(-9);
                    }
                }
            }
            &:nth-child(even) {
                .card--counter {
                    @include max-lg {
                        padding-left: r(6);
                    }
                }
            }
        }
    }
}
