// Blog Hero Section

.blog-hero {

  background-color: var(--color-10);
  position: relative;
  padding: r(180) 0 r(72);
  border-radius: 0 0 r(25) r(25);
  overflow: hidden;
  z-index: 2;

  @include max-md {
    border-radius: 0;
    padding: r(122) 0 r(20);
  }

  &__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: r(577);

    @include max-lg {
      left: auto;
      bottom: auto;
      width: r(1200);
      height: auto;
      top: r(-100);
      right: r(-1064);
    }

    @include max-md {
      top: r(-168);
      right: r(-1052);
    }

    img {
      width: 100%;
    }
  }

  &__wrapper {
    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &__left {
    @include lg {
      flex: 0 0 42%;
      max-width: 42%;
      padding-right: r(36);
    }
  }

  &__right {
    @include lg {
      flex: 0 0 58%;
      max-width: 58%;
    }
  }

  #breadcrumbs {
    @include max-md {
      font-size: r(16);
    }

    a {
      @include max-md {
        margin-right: r(12);
      }

      &:after {
        @include max-md {
          margin-left: r(4);
          top: r(-2);
        }
      }
    }
  }

  .section__title {
    color: var(--color-6);
    font-size: r(88);
    line-height: 1.1;

    @include max-lg {
      font-size: r(60);
      margin-bottom: r(40);
    }

    @include max-md {
      font-size: r(40);
    }
  }

  .hor__card {
    opacity: 0;
  }

}

.hor__card {

  border-radius: r(24);
  padding: r(16);
  background-color: var(--color-1);

  @include md {
    display: flex;
    align-items: center;
  }

  @include max-md {
    border-radius: r(16);
    padding: r(12) r(12) r(16) r(12);
  }

  &__left {
    @include md {
      flex: 0 0 51%;
      max-width: 51%;
    }
  }

  &__right {
    @include md {
      flex: 0 0 49%;
      max-width: 49%;
    }
  }

  &__media {
    position: relative;

    @include max-md {
      height: r(223);
    }

    picture {
      @include max-md {
        height: 100%;
      }
    }


    .media__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: r(202);
      height: auto;

      @include max-md {
        width: r(153);
      }

      img {
        border-right: 0;
      }
    }

    img {
      border-radius: r(16);
      width: 100%;

      @include max-md {
        height: 100%;
        object-fit: cover;
      }
    }

  }

  &__desc {
    padding: 0 r(42);

    @include max-md {
      padding: r(24) r(8) 0;
    }
  }

  &__subtitle {
    font-size: r(16);
    line-height: 1.25;
    color: var(--color-9);
    margin-bottom: r(10);

    @include max-md {
      font-size: r(12);
      margin-bottom: r(8);
    }
  }

  &__title {
    font-weight: 400;
    font-size: r(24);
    line-height: 1.25;
    color: var(--color-6);

    @include max-lg {
      font-size: r(20);
    }

    @include max-md {
      font-size: r(16);
    }

    span {
      color: var(--color-9)
    }
  }

  .btn {

    margin-top: r(30);

    @include max-md {
      margin-top: r(24);
      width: 100%;
      justify-content: center;
    }

    &:before {
      @include md {
        margin-right: r(20);
      }

    }
  }

}


