// Blockquote Section

.blockquote-section {
  padding: r(90) 0 r(200);
  position: relative;

  @include max-md {
    padding: r(26) 0 r(110);
    min-height: r(358);
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: r(244);
    pointer-events: none;
    transform: translateY(-12%);
    z-index: -1;

    img {
      width: 100%;
    }

    @include max-md {
      transform: translateY(0);
      top: auto;
      bottom: r(22);
      height: auto;
      max-width: r(364);
    }
  }

  .top__line {
    margin-bottom: r(74);

    @include max-md {
      margin-bottom: r(3);
    }
  }

  &__wrapper {
    @include lg {
      display: flex;
    }

    @include max-md {
      display: flex;
      min-height: r(182);
      justify-content: center;
      flex-direction: column;
    }
  }

  &__left {
    @include lg {
      flex: 0 0 25.2%;
      max-width: 25.2%;
    }
  }

  &__right {
    @include lg {
      flex: 0 0 64%;
      max-width: 64%;
    }
  }

  .section__tag {
    margin-top: r(8);

    @include max-md {
      margin-bottom: r(32);
    }
  }
}

.blockquote__type-2 {
  position: relative;
  padding-left: r(128);
  font-weight: 300;
  font-size: r(48);
  line-height: 1.24;
  color: var(--color-6);

  @include max-md {
    font-size: r(18);
    line-height: 1.5;
    padding-left: r(50);
  }

  &:before {
    position: absolute;
    top: r(8);
    left: 0;
    width: r(64);
    height: r(65);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.336 19.481c0 4.217-.759 8.265-2.277 12.144-1.518 4.048-3.289 7.337-5.313 9.867a50.041 50.041 0 0 1-6.325 7.084c-2.361 2.193-4.132 3.71-5.313 4.554-1.18.843-2.024 1.35-2.53 1.518L.506 48.323l3.289-3.542c1.35-1.687 3.036-4.385 5.06-8.096 2.361-3.88 3.373-7.168 3.036-9.867-3.373-.506-6.24-2.024-8.602-4.554C1.096 19.565 0 16.445 0 12.903c0-3.542 1.265-6.578 3.795-9.108C6.494 1.265 9.783 0 13.662 0c4.217 0 7.674 1.771 10.373 5.313 2.867 3.542 4.301 8.265 4.301 14.168ZM63.064 19.481c0 4.217-.759 8.265-2.277 12.144-1.518 4.048-3.289 7.337-5.313 9.867a50.041 50.041 0 0 1-6.325 7.084c-2.361 2.193-4.132 3.71-5.313 4.554-1.18.843-2.024 1.35-2.53 1.518l-6.072-6.325 3.29-3.542c1.349-1.687 3.035-4.385 5.06-8.096 2.36-3.88 3.372-7.168 3.035-9.867-3.373-.506-6.24-2.024-8.602-4.554-2.193-2.699-3.289-5.819-3.289-9.361 0-3.542 1.265-6.578 3.795-9.108C41.222 1.265 44.511 0 48.39 0c4.217 0 7.675 1.771 10.373 5.313 2.867 3.542 4.301 8.265 4.301 14.168Z' fill='%234893F4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';

    @include max-md {
      width: r(35);
      height: r(35);
      top: 0;
    }
  }

  span {
    color: var(--color-9);
  }
}

