// Career Planning

.career-planning {

  color: var(--color-2);
  font-size: r(24);
  line-height: 1.5;
  padding-bottom: r(200);

  &__wrapper {
    background-color: #e8f2ff;
    border-radius: r(32);
    padding: r(20);

    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &__left {
    @include lg {
      flex: 0 0 45.5%;
      max-width: 45.5%;
      margin-left: 2.5%;
      margin-right: 7.6%;
    }
  }

  &__right {
    @include lg {
      flex: 0 0 44.4%;
      max-width: 44.4%;
    }
  }

  &__media {
    picture, img {
      width: 100%;
    }

    img {
      border-radius: r(9);
    }
  }

  .section__title {
    font-weight: 500;
    font-size: r(40);
    line-height: 1.2;
  }

  &__head {
    padding-bottom: r(28);
    border-bottom: 1px solid var(--color-9);
    margin-bottom: r(32);
  }
}