// Departments

.departments {

  color: var(--color-2);
  padding: r(106) 0;
  height: 100svh;
  position: relative;
  overflow: hidden;

  .top__line {
    margin-bottom: r(46);
  }

  &__wrapper {
    @include lg {
      display: flex;
    }
  }

  &__left {
    @include lg {
      flex: 0 0 32%;
      max-width: 32%;
      margin-right: 11%;
    }
  }

  &__right {
    @include lg {
      flex: 0 0 57%;
      max-width: 57%;
      display: flex;
    }
  }

  &__media {

    width: r(730);
    margin-top: r(117);
    position: relative;

    &:before {
      @include lg {
        position: absolute;
        top: r(201);
        left: r(26);
        background-image: url(../../assets/img/section/careers-page/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: r(114);
        height: r(114);
        content: '';
      }
    }

    picture {
      display: inline-flex;
      border-radius: r(8);
      width: r(160);
      height: r(160);
      margin-right: r(16);
      margin-bottom: r(18);

      &:nth-child(3) {
        @include lg {
          margin-right: r(176);
        }
      }

      &:nth-child(4) {
        @include lg {
          margin-left: r(178);
        }

      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

  }

  &__head {

    font-size: r(18);
    line-height: 1.5;

    .section__tag {
      margin-bottom: r(30);
    }

    .section__title {
      margin-bottom: r(30);
    }

    span {
      color: var(--color-9);
    }
  }

  &__block {

    font-size: r(18);
    line-height: 1.5;

    &__title {
      font-size: r(32);
      line-height: 1.2;
      margin-bottom: 24px;
      color: var(--color-12);

    }

    &__subtitle  {
      font-size: r(24);
      line-height: 1.5;
    }
  }

}

.departments__slider__thumbs {
  height: 2.5rem;
  overflow: visible;
  flex: 0 0 10%;
  max-width: 10%;
  margin-right: 10%;



}