/*section--effect*/
.section--effect {
    overflow: visible;
    height: var(--app-height) !important;
    padding-top: r(63);
    background-color: var(--color-17);
    @include md {
        padding-top: r(180);
    }
    @include lg {
        padding-top: r(31);
        padding-bottom: r(31);
    }
    .section__container,
    .section__wrapper {
        height: 100%;
        background-color: transparent;
    }
    .section__inner {
        position: relative;
        z-index: 1;
        height: inherit;
    }
    .section__intro {
        position: relative;
        z-index: 2;
        margin-bottom: r(47);
        @include lg {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin: auto;
            transform: translate(0, -50%);
        }
    }
    .section__content {
        position: relative;
        z-index: 3;
        @include fl();
        @include fl-h-centr();
        @include md {
            padding-top: r(50);
        }
        @include lg {
            height: inherit;
            @include fl-v-centr();
            padding-top: 0;
        }
    }
    .section__title {
        font-size: r(40);
        line-height: 1.1;
        @include lg {
            font-size: r(88);
            @include fl();
            @include fl-h-around();
            @include fl-v-centr();

        }
        & > span {
            @include max-lg {
                display: block;
            }
            @include lg {
                position: relative;

            }
            &:first-child {
                @include lg {
                    left: r(-154);
                }
                em {
                    @include max-lg {
                        display: none;
                    }
                }
            }
            &:last-child {
                @include lg {
                    left: r(74);
                }
                em {
                    @include lg {
                        display: none;
                    }
                }
            }
            br {
                @include max-md {
                    display: none;
                }
            }
        }
    }
    .section__control {
        position: absolute;
        z-index: 1;
        bottom: r(46);
        left: 0;
        width: 100%;
        @include fl-h-centr();
        @include lg {
            bottom: r(20);
        }
        @include xxl {
            bottom: 0;
        }
    }
    .scroll-btn {
        &:after {
            display: none;
        }
        .scroll-btn__text {
            font-size: r(16);
            @include lg {
                font-size: r(20);
            }
        }
    }
    .section__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        img {
            @include object-fit-cover();
        }
    }
}

// card-list
.card-list {
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    width: r(243);
    height: r(314);
    counter-reset: e-card;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    @include lg {
        width: r(413);
        height: r(535);
    }
    > * {
        grid-area: 1 / 1 / 2 / 2;
    }
}

// card--effect
.card--effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: r(243);
    @include fl();
    @include fl-between();
    @include fl-column();
    min-width: r(243);
    max-width: r(243);
    height: r(314);
    margin: auto;
    padding: r(63) r(26) r(39) r(19);
    color: var(--color-6);
    border-radius: r($border-radius-7);
    background-color: var(--color-18);
    @include lg {
        width: r(413);
        min-width: r(413);
        max-width: r(413);
        height: r(535);
        padding: r(98) r(76) r(43) r(36);
        border-radius: r($border-radius-s);
    }
    .card__num {
        margin-bottom: r(20);
        &:before {
            font-size: r(88);
            line-height: 1;
            content: "0" counter(e-card);
            counter-increment: e-card;
            letter-spacing: .02em;
            color: var(--color-41);
            @include lg {
                font-size: r(150);
                font-weight: var(--font-weight-medium);
            }
        }
    }
    .card__text {
        line-height: 1.2;
        @include lg {
            font-size: r(32);
            font-weight: var(--font-weight-medium);
            line-height: 1.2;
        }
    }
    &:nth-child(1) {
        color: var(--color-1);
        background-color: var(--color-3);
        .card__num {
            &:before {
                color: var(--color-42);
            }
        }
    }
    &:nth-child(2) {
        transform: rotate(-6deg);
        background-color: var(--color-11);
    }
    &:nth-child(3) {
        transform: rotate(-13deg);
        background-color: var(--color-1);
    }
    &:nth-child(4) {
        transform: rotate(-20deg);
    }
}
