// Faq Section

.faq__section {
  padding: r(70) 0 r(146);

  @include max-md {
    padding: r(20) 0 r(38);
  }

  .section__container {
    @include lg {
      display: flex;
    }
  }

  &__left {
    @include lg {
      flex: 0 0 26%;
      max-width: 26%;
      margin-right: 16%;
    }
    @include max-md {
      margin-bottom: 40px;
    }
  }

  &__right {
    @include lg {
      flex: 0 0 58%;
      max-width: 58%;
      padding-top: r(62);
    }
  }

  .section__tag {
    margin-bottom: r(38);

    @include max-md {
      margin-bottom: r(18);
    }
  }

  .tabs__wrapper {
    .tabs {
      margin-bottom: r(32);
    }
  }
}

.accordion__nav__tab {
  margin-top: r(60);
  margin-bottom: r(32);

  a:not(:last-child) {
    margin-right: r(20);
  }
}

.nested-tab-links {

  margin-bottom: r(48);
  list-style: none;


  @include max-md {
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 r(-20) r(12);
    padding: 0 r(20) r(10);
  }

  li {
    font-weight: 400;
    font-size: r(24);
    line-height: 1.5;
    display: inline-block;
    margin-right: r(44);

    @include max-md {
      font-size: r(16);
      line-height: 1.25;
      margin-right: r(29);
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      a {
        color: var(--color-3);
        display: inline-block;

        &:before {
          display: inline-block;
          width: r(8);
          height: r(8);
          background-color: var(--color-3);
          border-radius: 50%;
          margin-right: r(8);
          position: relative;
          top: r(-3);
          content: '';
        }
      }
    }


    a {
      color: var(--color-12);
      position: relative;

      &:hover {
        color: var(--color-3);
      }
    }
  }
}


// Accordion


.accordion-item {
  margin-bottom: r(16);
  background-color: var(--color-11);
  border-radius: r(16);
  transition: .6s background-color, .6s padding-bottom;
  font-size: r(18);
  line-height: 1.5;
  color: var(--color-6);
  counter-increment: my-awesome-counter;

  @include max-md {
    font-size: r(14);
    line-height: 1.25;
    margin-bottom: r(8);
  }

  &.active {

    background-color: var(--color-10);
    padding-bottom: r(24);

    @include max-md {
      padding-bottom: r(16);
    }

    .accordion-header__btn {
      .icon-plus {
        transform: rotate(225deg);
      }
    }
  }

  &:hover {
    @include md {
      background-color: var(--color-10);
    }
  }

  &:nth-child(n+10) {
    .accordion-header {

      & > div {
        &:before {
          content: counter(my-awesome-counter);
        }
      }

    }
  }
}

.accordion-header {
  font-size: r(24);
  padding: r(24) r(120) r(24) r(98);
  cursor: pointer;
  position: relative;
  min-height: r(120);
  display: flex;
  align-items: center;

  @include max-md {
    font-size: r(16);
    line-height: 1.25;
    min-height: auto;
    padding: r(16);
    padding-right: r(80);
  }

  & > div {
    position: relative;

    &:before {
      position: absolute;
      content: "0" counter(my-awesome-counter);
      left: r(-74);
      top: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L7.39657 2.40761C7.75127 4.56098 9.43902 6.24873 11.5924 6.60343L14 7L11.5924 7.39657C9.43902 7.75127 7.75127 9.43902 7.39657 11.5924L7 14L6.60343 11.5924C6.24873 9.43902 4.56098 7.75127 2.40761 7.39657L0 7L2.40761 6.60343C4.56098 6.24873 6.24873 4.56098 6.60343 2.40761L7 0Z' fill='black' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: r(14);
      background-position: 0 42%;
      padding-left: r(21);

      @include max-md {
        display: none;
      }
    }
  }



  span {
    color: var(--color-9);
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: r(26);
    width: r(73);
    height: r(42);
    border-radius: r(8);
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    @include max-md {
      width: r(48);
      height: r(32);
      right: r(16);
    }

    .icon-plus {
      width: r(25);
      height: r(26);
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0.749878L12.5 11.6875' stroke='%234893F4' stroke-width='2' /%3E%3Cpath d='M12.5 14.3125L12.5 25.2501' stroke='%234893F4' stroke-width='2' /%3E%3Cpath d='M0.25 12.8359H11.1876' stroke='%234893F4' stroke-width='2' /%3E%3Cpath d='M13.8125 12.8359H24.7501' stroke='%234893F4' stroke-width='2' /%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      transition: .6s transform;

      @include max-md {
        width: r(16);
        height: r(16);
      }
    }
  }
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height .6s ease-out;
  padding: 0 r(188) r(1) r(98);

  @include max-md {
    padding: 0 r(16);
  }

  &__inner {
    @include max-md {
      padding-top: r(8);
    }
  }

  &.active {
    height: auto;
  }
}


.tabs {
  list-style: none;

  li {
    display: inline-flex;
    margin-right: r(20);

    @include max-md {
      margin-right: r(8);
    }

    &:last-child {
      margin-right: 0;
    }

    .btn:hover {
      @include md {
        background-color: var(--color-3);
      }

    }

    &.active {
      .btn {
        background-color: var(--color-3);
      }
    }
  }

  .btn--l {

    @include max-md {
      height: r(40);
      min-height: r(40);
      max-height: r(40);
      padding: r(10) r(12);
      font-size: r(14);
    }

  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}