/*section--feature-1*/
.section--feature-1 {
    padding-bottom: r(86);
    @include section-light-after();
    @include max-lg {
        overflow: hidden;
    }
    @include lg {
        padding-top: 0;
        padding-bottom: r(203);
    }
    .section__wrapper {
        @include lg {
            @include fl();
        }
    }
    .section__intro {
        margin-bottom: r(48);
        @include lg {
            margin-bottom: r(90);
            padding-left: r(208);
        }
    }
    .section__title {
        margin-bottom: 0;
    }
    .decor {
        margin-bottom: r(39);
        @include md {
            margin-bottom: r(47);
        }
    }
    .decor__item {
        width: r(100);
        height: r(177);
        @include lg {
            width: r(200);
            height: r(426);
        }
        img {
            @include object-fit-cover();
        }
    }
    .section__content {
        @include max-md {
            width: 100%;
        }
        @include lg {
            margin-left: r(268);
        }
    }
}
.card--feature-1 {
    @include fl();
    @include fl-column();
    @include fl-between();
    line-height: 1.25;
    padding: r(20);
    cursor: pointer;
    color: var(--color-6);
    @include lg {
        width: r(386);
        height: r(325);
        padding: r(32);
    }
    .card__top {
        @include fl();
        @include fl-between();
    }
    .card__media {
        position: relative;
        z-index: 1;
        width: r(94);
        flex: 0 1 r(94);
        max-width: r(94);
        min-width: r(94);
        height: auto;
    }
    .card__bottom {
        @include lg {
            min-height: r(116);
        }
    }
    .card__text,
    .card__num {
        font-size: r(16);
        @include lg {
            font-size: r(24);
        }
    }
    &:hover {
        @include lg {
            transform: scale(1.1);
        }
    }
}
.m-grid--feature-1 {
        margin-left: r(-20);
    @include max-lg {
        @include fl-nowrap();
        overflow-x: auto;
        padding-bottom: r(15);
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    @include md {
        margin-left: 0;
    }
    @include lg {
        max-width: r(1228);
        margin: r(-40) r(-12);
    }
    .m-grid__item {
        flex: 0 1 r(260);
        width: r(260);
        min-width: r(260);
        max-width: r(260);
        height: r(234);
        padding-right: r(12);
        @include max-lg {
            transform: none !important;
        }
        @include lg {
            @include fl-width-33();
            visibility: hidden;
            min-height: r(365);
            transform: translateY(50%);
            opacity: 0;
            padding: r(20) r(12);
        }
        &:nth-child(odd) {
            .card--feature-1 {
                border-radius: r($border-radius-xs) r($border-radius-xs) r($border-radius-5) r($border-radius-xs);
                background: var(--color-10);
                @include lg {
                    border-bottom-right-radius: r($border-radius-xl);
                }
            }
        }
        &:nth-child(even) {
            .card--feature-1 {
                border-top: r(2) solid var(--color-16);
                background: var(--color-1);
                @include max-lg {
                    border: none;
                    border-radius: r($border-radius-xs) r($border-radius-xs) r($border-radius-5) r($border-radius-xs);
                    background: var(--color-10);
                }
            }
        }
        &:nth-child(1) {
            margin-left: r(40);
            @include md {
                margin-left: r(20);
            }
            @include lg {
                margin-left: 0;
            }
            @include max-lg {
                order: 0;
            }
            .card__media {
                top: r(-8);
                left: r(-12);
            }
        }
        &:nth-child(2) {
            @include max-lg {
                order: 3;
            }
            .card__media {
                top: r(-12);
                left: r(-3);
            }
        }
        &:nth-child(3) {
            @include max-lg {
                order: 4;
            }
            .card__media {
                top: r(-12);
                left: r(-22);
            }
        }
        &:nth-child(4) {
            @include max-lg {
                order: 1;
            }
            .card__media {
                top: r(-10);
                left: r(-14);
            }
        }
        &:nth-child(5) {
            @include max-lg {
                order: 3;
            }
            .card__media {
                top: r(-13);
                left: r(-4);
            }
        }
        &:nth-child(6) {
            @include max-lg {
                order: 5;
            }
            .card__media {
                top: r(-11);
                left: r(-12);
            }
        }
        &:last-child {
            @include lg {
                padding-right: 0;
            }
        }
    }
}
