/*section--feature-2*/
.section--feature-2 {
    padding-top: r(38);
    padding-bottom: r(40);
    @include section-before();
    @include section-light-after();
    @include lg {
        padding-top: r(59);
        padding-bottom: r(89);
    }
    &:before {
        @include lg {
            margin-bottom: r(17);
        }
    }
    .section__intro {
        margin-bottom: r(48);
        @include lg {
            @include fl-row();
            visibility: hidden;
            margin-bottom: r(59);
            opacity: 0;
        }
        .br-com {
            display: block;
        }
        .br-d {
            @include max-md {
                display: none;
            }
            @include md {
                display: block;
            }
        }
        .br-m {
            @include max-md {
                display: block;
            }
            @include md {
                display: none;
            }
        }
    }
    .section__tag {
        margin: r(-10) 0 r(19) 0;
        @include lg {
            margin-top: r(14);
            margin-right: r(290);
        }
    }
    .section__control {
        position: relative;
        z-index: 1;
        @include fl-h-centr();
        @include max-lg {
            padding-top: r(32);
        }
        @include lg {
            margin-top: r(34);
        }
        @include xl {
            visibility: hidden;
            opacity: 0;
        }
        &:after {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: r(2);
            margin: auto;
            content: "";
            background-color: var(--color-16);
        }
        .btn {
            @include lg {
                position: relative;
                margin: 0 r(12);
                @include fl-h-centr();
            }
            &:nth-child(1),
            &:nth-child(3) {
                @include max-md {
                    width: 48%;
                }
                @include media-md-lg {
                    width: 49%;
                }
                @include max-lg {
                    margin-bottom: r(12);
                }
                @include lg {
                    min-width: r(232);
                }
            }
            &:nth-child(1) {
                margin-right: r(12);
                @include lg {
                    left: r(-12);
                }
            }
            &:nth-child(3) {
                margin: 0;
            }
            &:nth-child(2) {
                @include max-lg {
                    @include fl-h-centr();
                    order: 2;
                    width: 100%;
                    margin: 0;
                }
                @include lg {
                    left: r(-12);
                    min-width: r(292);
                }
            }
        }
    }
    .section__control-inner {
        position: relative;
        z-index: 2;
        width: 100%;
        @include fli();
        @include fl-between();
        @include fl-wrap();
        background-color: var(--color-1);
        @include lg {
            width: auto;
            @include fl-row();
            @include fl-h-centr();
            @include fl-v-centr();
            padding: 0 r(48);
        }
    }
}
.grid__sub-group--1 {
    @include fl();
    @include fl-column();
    & > .grid__item {
        @include fl-1-1-auto();
    }
}
.grid__sub-group--3 {
    @include fl-column();
}

/*grid--feature-2-d */
.grid--feature-2-d {
    display: none;
    margin: 0 0 r(48) r(-11);
    @include lg {
        position: relative;
        z-index: 2;
        @include fl();
        margin-bottom: r(-25);
    }
    @include max-lg {
        transform: scale(.8) translate(0) !important;
    }
    @include lg {
        transform: scale(2.955) translateX(32.08%) translateY(20%);
    }
    .grid__row--1,
    .grid__row--2,
    .grid__row--3,
    .grid__row--4,
    .grid__sub-group--3,
    .grid__sub-group--2 {
        @include fl();
    }
    .grid__item {
        margin: r(9);
    }
    .card--text-1 {
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();
        padding: r(22);
        background-color: var(--color-5);
    }
    .card--text-2 {
        @include fl();
        @include fl-v-centr();
        @include fl-h-centr();
        background-color: var(--color-4);
        .card__caption {
            transform: rotate(180deg);
            writing-mode: tb-rl;
        }
        .card__title {
            margin-bottom: 0;
        }
    }
    .card--text-3 {
        @include fl();
        @include fl-between();
        @include fl-column();
        padding: r(30) r(32);
        background-color: var(--color-3);
    }
    .card--text-4 {
        padding-top: r(22);
        padding-bottom: r(16);
        background-color: var(--color-10);
        .card__inner {
            overflow: hidden;
            height: 100%;
            padding: r(26) r(18) r(15) r(18);
            border-radius: r($border-radius-l) 0 0 0;
            background-color: var(--color-26);
        }
        .card__caption {
            color: var(--color-6);
        }
        .card__title {
            margin-bottom: r(4);
        }
        .card__text {
            margin-bottom: r(10);
        }
    }
    .grid__item--text-1 {
        width: r(562);
        min-width: r(562);
        max-width: r(562);
        height: r(286);
        max-height: r(286);
        @include lg {
            position: relative;
            top: r(-10);
            left: r(-2);
        }
    }
    .grid__item--text-2 {
        width: r(136);
        min-width: r(136);
        max-width: r(136);
        height: r(196);
        max-height: r(196);
        .card__text {
            font-size: r(18);
        }
    }
    .grid__item--text-3 {
        width: r(330);
        min-width: r(330);
        max-width: r(330);
        .card__caption {
            @include fl();
            @include fl-column();
            @include fl-h-centr();
            @include fl-1-1-auto();
        }
        .card__media {
            height: auto;
        }
    }
    .grid__item--text-4 {
        width: r(214);
        min-width: r(214);
        max-width: r(214);
        height: r(194);
        max-height: r(194);
        .card__text {
            font-size: r(18);
        }
    }
    .grid__item--pic-1 {
        width: r(214);
        min-width: r(214);
        max-width: r(214);
        @include fl-1-1-auto();
    }
    .grid__item--pic-2 {
        width: r(214);
        min-width: r(214);
        max-width: r(214);
        @include fl-1-1-auto();
    }
    .grid__item--pic-3 {
        @include fl-1-1-auto();
    }
    .grid__item--pic-4 {
        width: r(446);
        min-width: r(446);
        max-width: r(446);
        @include fl-1-1-auto();
    }
    .grid__item--pic-5 {
        width: r(707);
        min-width: r(707);
        max-width: r(707);
    }
    .grid__item--pic-6 {
        width: r(302);
        min-width: r(302);
        max-width: r(302);
        min-height: r(206);
    }
    .grid__item--pic-7 {
        width: r(410);
        min-width: r(410);
        max-width: r(410);
    }
    .grid__item--pic-8 {
        width: r(214);
        min-width: r(214);
        max-width: r(214);
    }
}
.card--feature-2 {
    border-radius: r($border-radius-xs);
    .card__caption {
        text-align: center;
        color: var(--color-1);
    }
    .card__title {
        font-size: r(48);
        font-weight: var(--font-weight-semi-bold);
        line-height: 1;
        margin-bottom: r(16);
    }
    .card__text {
        font-size: r(24);
    }
    .card__media {
        height: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

/*grid--feature-2-d*/
.grid--feature-2-d {
    .grid__item--2 {
        @include lg {
            position: relative;
            top: r(-4);
        }
    }
    .grid__item--3 {
        @include lg {
            position: relative;
            left: r(-7);
        }
        .card__media {
            @include lg {
                width: r(336);
                min-width: r(336);
                max-width: r(336);
                height: r(327);
            }
        }
    }
    .grid__item--4 {
        .card--text-1 {
            background: var(--color-5);
            .card__caption {
                width: 100%;
                height: 100%;
                background: left top / r(60) r(60) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), right top / r(60) r(60) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), left bottom / r(60) r(60) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), right bottom / r(60) r(60) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E");
                @include fl();
                @include fl-column();
                @include fl-h-centr();
                @include fl-v-centr();
            }
            .card__title {
                position: relative;
                top: r(3);
                left: r(-8);
            }
            .card__text {
                position: relative;
                top: r(5);
                left: r(-7);
            }
            .card__patrn-1 {
                display: none;
            }
        }
    }
    .grid__item--5 {
        position: relative;
        top: 0;
        left: r(-8);
        .card__media {
            width: r(446);
            min-width: r(446);
            max-width: r(446);
            height: r(625);
        }
    }
    .grid__item--6 {
        position: relative;
        top: r(-11);
        left: r(-1);
        .card__media {
            width: r(707);
            min-width: r(707);
            max-width: r(707);
            height: r(197);
        }
    }
    .grid__item--7 {
        position: relative;
        top: r(-11);
        left: r(-1);
        .card__media {
            width: r(302);
            min-width: r(302);
            max-width: r(302);
            height: r(196);
        }
    }
    .grid__item--8 {
        position: relative;
        top: r(1);
        left: r(-7);
        .card__media {
            width: r(410);
            min-width: r(410);
            max-width: r(410);
            height: r(196);
        }
    }
    .grid__item--9 {
        position: relative;
        top: r(1);
        left: r(-9);
        .card__title {
            position: relative;
            top: r(1);
            left: r(-4);
            font-size: r(32);
        }
        .card__text {
            position: relative;
            top: r(1);
            left: r(-6);
        }
    }
    .grid__item--10 {
        position: relative;
        top: r(2);
        left: r(-7);
        .card {
            height: r(624);
            max-height: r(624);
        }
        .card__title {
            position: relative;
            top: r(18);
        }
        .card__text {
            position: relative;
            top: r(11);
        }
        .card__media {
            position: relative;
            top: r(-1);
        }
    }
    .grid__item--11 {
        position: relative;
        top: r(2);
        left: r(-7);
        .card__inner {
            border-top-left-radius: r(120);
        }
        .card__title {
            position: relative;
            top: r(1);
            left: r(4);
        }
        .card__text {
            position: relative;
            left: r(4);
            margin-bottom: r(5);
        }
        .card__media {
            position: relative;
            top: 0;
            left: 0;
        }
    }
    .grid__item--12 {
        position: relative;
        top: r(-2);
        left: r(-8);
        .card__media {
            width: r(214);
            min-width: r(214);
            max-width: r(214);
            height: r(411);
        }
    }
}

/*grid--feature-2-m*/
.grid--feature-2-m {
    @include fl();
    @include lg {
        display: none;
    }
    .grid__group {
        margin: r(-2);
        @include md {
            margin: r(-4);
        }
    }
    .grid__sub-group--1 {
        @include sm {
            width: 100%;
        }
    }
    .grid__item {
        width: 100%;
        padding: r(2);
        @include md {
            padding: r(4);
        }
    }
    .grid__row--1,
    .grid__row--2,
    .grid__row--3,
    .grid__row--4,
    .grid__sub-group--3,
    .grid__sub-group--2 {
        @include fl();
    }
    .grid__row--2 {
        @include fl-wrap();
        @include fl-between();
    }
    .grid__item--pic-4 {
        width: 44.14%;
        min-width: 44.14%;
        max-width: 44.14%;
    }
    .grid__sub-group--3,
    .grid__item--text-3,
    .grid__item--text-4,
    .grid__item--pic-5,
    .grid__item--pic-7 {
        @include fl-width-50();
    }
    .grid__item--text-2 {
        width: 55.86%;
        min-width: 55.86%;
        max-width: 55.86%;
        .card__caption {
            margin-top: r(38);
            margin-bottom: r(35);
        }
    }
    .card__title {
        font-size: r(28);
        margin-bottom: r(8);
        @include md {
            font-size: r(34);
        }
    }
    .card__text {
        font-size: r(12);
        @include md {
            font-size: r(14);
        }
    }
    .card--text-1 {
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();
        padding: r(52) r(22) r(48) r(22);
        background-color: var(--color-5);
    }
    .card--text-2 {
        @include fl();
        @include fl-between();
        @include fl-column();
        padding: r(13);
        background-color: var(--color-3);
    }
    .card--text-3 {
        padding-top: r(22);
        padding-bottom: r(16);
        background-color: var(--color-10);
        .card__inner {
            @include fl();
            @include fl-h-centr();
            @include fl-v-centr();
            overflow: hidden;
            height: 100%;
            padding: r(26) r(18) r(15) r(18);
            border-radius: r($border-radius-5) 0 0 0;
            background-color: var(--color-26);
        }
        .card__caption {
            color: var(--color-6);
        }
        .card__title {
            margin-bottom: r(4);
        }
        .card__text {
            margin-bottom: r(10);
        }
    }
    .card--text-4 {
        @include fl();
        @include fl-v-centr();
        @include fl-h-centr();
        background-color: var(--color-4);
        .card__title {
            margin-bottom: 0;
        }
    }

    /*pp*/
    @media (max-width: 375px) {
    .grid__item--1 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(160);
            min-width: r(160);
            max-width: r(160);
            height: r(97);
        }
    }
    .grid__item--2 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(160);
            min-width: r(160);
            max-width: r(160);
            height: r(97);
        }
    }
    .grid__item--3 {
        position: relative;
        top: auto;
        left: r(-6);
        .card__media {
            width: r(171);
            min-width: r(171);
            max-width: r(171);
            height: r(198);
        }
    }
    .grid__item--4 {
        position: relative;
        top: auto;
        left: auto;
        .card {
            width: r(335);
            min-width: r(335);
            max-width: r(335);
            height: r(150);
            padding: r(11);
            background: var(--color-5);
            .card__caption {
                width: 100%;
                height: 100%;
                background: left top / r(29) r(29) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), right top / r(29) r(29) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), left bottom / r(29) r(29) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E"), right bottom / r(29) r(29) no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0v26.786M30 33.214V60M0 29.599h26.786M33.214 29.599H60' stroke='%23fff' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E");
                @include fl();
                @include fl-column();
                @include fl-h-centr();
                @include fl-v-centr();
            }
            .card__title {
                position: relative;
                top: r(2);
                left: 0;
            }
            .card__text {
                position: relative;
                top: r(2);
                left: 0;
            }
        }
    }
    .grid__item--5 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(139);
            min-width: r(139);
            max-width: r(139);
            height: r(235);
        }
    }
    .grid__item--6 {
        position: relative;
        left: r(-7);
        .card {
            width: r(192);
            min-width: r(192);
            max-width: r(192);
            height: r(235);
        }
        .card__title {
            position: relative;
            top: r(2);
            left: r(1);
        }
        .card__text {
            position: relative;
            top: r(2);
            left: 0;
        }
        .card__media {
            position: relative;
            top: r(-2);
        }
    }
    .grid__item--7 {
        position: relative;
        top: auto;
        left: auto;
        .card {
            width: r(166);
            min-width: r(166);
            max-width: r(166);
            height: r(150);
        }
        .card__title {
            position: relative;
            top: r(-1);
        }
        .card__text {
            position: relative;
            top: r(3);
            font-size: r(12);
        }

    }
    .grid__item--8 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(166);
            min-width: r(166);
            max-width: r(166);
            height: r(150);
        }
    }
    .grid__item--9 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(335);
            min-width: r(335);
            max-width: r(335);
            height: r(150);
        }
    }
    .grid__item--10 {
        position: relative;
        top: auto;
        left: auto;
        .card__media {
            width: r(166);
            min-width: r(166);
            max-width: r(166);
            height: r(150);
        }
    }
    .grid__item--11 {
        position: relative;
        top: auto;
        left: auto;
        .card {
            width: r(166);
            min-width: r(166);
            max-width: r(166);
            height: r(150);
        }
        .card__title {
            position: relative;
            top: r(-2);
            left: r(-1);
        }
        .card__text {
            position: relative;
            top: r(6);
        }
    }
    }
}
