/*section--feature-3*/
.section--feature-3 {
    padding-bottom: r(19);
    @include md {
        padding-bottom: r(109);
    }
    @include lg {
        padding-bottom: r(100);
    }
    .section__intro {
        margin-bottom: r(22);
    }
    .section__content {
        position: relative;
        z-index: 1;
        @include lg {
        padding-top: r(80) !important;
        padding-bottom: r(80) !important;
        }
    }

    // center-item
    .center-item {
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();
        @include max-lg {
            margin-top: r(50);
            margin-bottom: r(55);
        }
        @include lg {
            position: absolute;
            z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
    .center-item__bg {
        @include max-lg {
            display: none;
        }
        position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        width: r(142);
        height: r(100);
        margin: auto;
        background-color: var(--color-1);
        z-index: 1;
    }
    .center-item__round {
        width: r(26);
        height: r(26);
        border-radius: $border-radius-round;
        background-color: var(--color-3);
        @include lg {
        position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        margin: auto;
        z-index: 2;
        }
    }
}

// card--feature-3
.card--feature-3 {
    position: relative;
    z-index: 3;
    padding-top: r(24);
    padding-bottom: r(24);
    text-align: center;
    .is-active & {
        z-index: 1;
    }
    @include lg {
        min-height: r(271);
        padding-top: r(39);
        padding-bottom: r(124);
    }
    .card__title {
        font-size: r(16);
        font-weight: var(--font-weight-regular);
        line-height: 1.25;
        margin-bottom: r(15);
        @include lg {
            font-size: r(24);
            margin-bottom: r(24);
        }
        br {
            @include max-lg {
                display: none;
            }
        }
    }
    .card__text {
        font-size: r(14);
        line-height: 1.3;
        color: var(--color-6);
        @include lg {
            font-size: r(18);
            line-height: 1.5;
        }
    }
}

// m-grid--feature-3
.m-grid--feature-3 {
    margin-bottom: r(13);
    .m-grid__item {
        position: relative;
        @include lg {
            @include fl();
            @include fl-h-centr();
            @include fl-v-centr();
            @include fl-width-50();
        }
        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            content: "";
            background-color: var(--color-9);
            @include lg {
                background-color: var(--color-16);
            }
        }
        &:nth-last-child(2),
        &:last-child {
            &:after {
                @include lg {
                display: none;
            }
            }
            .card--feature-3 {
                @include lg {
                    padding-top: r(62);
                    padding-bottom: r(48);
                }
            }
        }
        &:nth-child(odd) {
            &:before {
                @include lg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 2px;
                    content: "";
                    background-color: var(--color-16);
                }
            }
        }
        &:nth-child(1) {
            .card--feature-3 {
                @include lg {
                    max-width: r(462);
                }
            }
        }
        &:nth-child(2) {
            .card--feature-3 {
                @include lg {
                    max-width: r(445);
                }
            }
        }
        &:nth-child(3) {
            .card--feature-3 {
                @include lg {
                    max-width: r(613);
                }
            }
        }
        &:nth-child(4) {
            .card--feature-3 {
                @include lg {
                    max-width: r(552);
                }
            }
        }
    }
}
