/*section--feature-5*/
// @include bg-text-blue();
@mixin bg-text-blue() {
    &:after {
        content: "";
        position: absolute;
        top: r(-40);
        left: r(-40);
        right: r(-40);
        bottom: r(-40);
        background-color: var(--color-3);
    }
}

.section--feature-5 {
    padding: r(23) 0 r(66);
    background-color: var(--color-3);
    @include md {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M76.457.913v68.265M76.457 85.561v68.265M0 76.346h68.264M84.648 76.346h68.265' stroke='%23fff' stroke-opacity='.2' stroke-width='2'/%3E%3C/svg%3E");
        background-repeat: repeat;
        background-position: top left;
        background-size: r(173) r(174);
    }
    @include lg {
        padding-top: r(80);
        padding-bottom: r(100);
    }
    @include xl {
        height: var(--app-height);
        padding: 0;
    }
    &:before {
        @include lg {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: r(30);
            background-color: var(--color-3);
        }
    }
    .section__wrapper {
        background: none;
    }
    .section__container,
    .section__intro,
    .section__content {
        position: relative;
        z-index: 1;
    }
    .section__content {
        @include lg {
            margin-top: r(-100);
            @include fl();
            @include fl-v-centr();
            @include fl-column();
        }
        @include xl {
            display: block;
            height: var(--app-height);
            margin-top: 0;
        }
    }
    .section__intro {
        max-width: r(523);
        padding-top: r(42);
        padding-left: r(4);
        @include max-lg {
            margin-bottom: r(35);
        }
        @include lg {
            margin-top: r(30);
            padding-top: 0;
            @include bg-text-blue();
            max-width: 24rem;
        }
        @include xl {
            max-width: r(523);
            position: absolute;
            top: 49.2%;
            right: r(297);
            left: auto;
            transform: translate(0, -50%);
            margin-top: 0;
        }
    }
    .section__title {
        position: relative;
        z-index: 1;
        margin-bottom: r(32);
        color: var(--color-1);
        span {
            opacity: .5;
            color: inherit;
        }
    }
    .section__sub-text {
        font-size: r(16);
        line-height: 1.25;
        position: relative;
        margin-bottom: r(69);
        color: var(--color-11);
        @include md {
            font-size: r(24);
            line-height: 1.5;
            @include bg-text-blue();
        }
        @include xl {
            position: absolute;
            right: 0;
            bottom: 0;
            visibility: hidden;
            max-width: r(387);
            opacity: 0;
        }
        * {
            position: relative;
            z-index: 1;
        }
    }
    .btn {
        position: relative;
        z-index: 1;
        max-width: r(367);
        @include max-md {
            display: none;
        }
    }
    .section__media {
        position: relative;
        @include max-xl {
            width: r(295);
            margin: 0 auto r(52);
        }
        @include lg {
            width: 30rem;
        }
        @include xl {
            top: r(-18);
            left: 6%;
            width: r(458);
            transform: rotate(90deg);
        }
        img {
            @include object-fit-cover();
        }
    }
    /*pattern*/
    .pattern {
        position: absolute;
        top: 0;
        left: r(20);
        @include md {
            left: r(60);
        }
        img {
            @include object-fit-cover();
        }
    }
    .pattern__mob {
        width: r(335);
        height: r(793);
        @include md {
            display: none;
        }
    }
    .pattern__desk {
        display: none;
        width: r(1609);
        height: r(867);
        @include md {
            display: block;
        }
    }
}

.swiper-talent {
    overflow: visible;
    counter-reset: t-card;
    @include xl {
        position: absolute;
        top: r(100);
        right: 0;
        left: 0;
        visibility: hidden;
        max-width: 88rem;
        margin: auto;
        opacity: 0;
    }
    @include xxl {
        max-width: r(1413);
    }
    .swiper-slide {
        flex: 0 1 r(248);
        min-width: r(248);
        max-width: r(248);
        height: r(234);
        min-height: r(234);
        max-height: r(234);
        @include lg {
            flex: 0 1 r(289);
            min-width: r(289);
            max-width: r(289);
            height: r(373);
            min-height: r(373);
            max-height: r(373);
        }
        @include xl {
            @include fl();
            @include fl-width-50();
            height: auto;
            min-height: auto;
            max-height: none;
        }
        &:first-child {
            .card__media {
                width: r(52);
                height: r(66);
            }
        }
        &:nth-child(2) {
            .card__media {
                width: r(63);
                height: r(53);
            }
        }
        &:nth-child(3) {
            .card__media {
                width: r(63);
                height: r(50);
            }
        }
        &:nth-child(4) {
            .card__media {
                width: r(66);
                height: r(66);
            }
        }
        &:nth-child(5) {
            .card__media {
                width: r(66);
                height: r(66);
            }
        }
        &:nth-child(6) {
            .card__media {
                width: r(66);
                height: r(66);
            }
        }
        &:last-child {
            @include max-xl {
                margin-right: r(12);
            }
            .card__media {
                width: r(63);
                height: r(61);
            }
        }
        &:nth-child(odd) {
            @include xl {
                @include fl-h-start();
                margin-top: r(350);
            }
        }
        &:nth-child(even) {
            @include xl {
                @include fl-h-end();
            }
        }
        .card__media {
            img {
                @include object-fit-cover();
            }
        }
    }
    .swiper-scrollbar {
        display: none;
        margin-top: r(15);
    }
    .swiper-wrapper {
        @include xl {
            @include fl();
            @include fl-row();
            @include fl-wrap();
            @include fl-h-start();
            align-content: stretch;
        }
    }
}

/*card--talent*/
.card--talent {
    @include fl();
    @include fl-column();
    @include fl-between();
    padding: r(20) r(20) r(14) r(20);
    cursor: pointer;
    border-radius: r($border-radius-xs) r($border-radius-xs) r($border-radius-5) r($border-radius-xs);
    background: var(--color-10);
    @include lg {
        padding: r(32) r(20);
        border-radius: r($border-radius-xs) r($border-radius-xs) r($border-radius-xl) r($border-radius-xs);
    }
    @include xl {
        flex: 0 1 r(289);
        min-width: r(289);
        max-width: r(289);
        height: r(373);
        min-height: r(373);
        max-height: r(373);
        margin: r(40) 0 0 0;
    }
    .card__top {
        @include fl();
        @include fl-between();
        @include lg {
            padding-top: r(4);
        }
    }
    .card__media {
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .card__bottom {
        max-width: r(260);
    }
    .card__text {
        @include text-clamp();
        @include text-clamp-3();
        font-size: r(16);
        color: var(--color-6);
        @include lg {
            font-size: r(24);
        }
        span:not([class]) {
            color: var(--color-9);
        }
    }
    .card__num {
        &:before {
            font-size: r(16);
            content: "0" counter(t-card) "/";
            counter-increment: t-card;
            color: var(--color-6);
            @include lg {
                font-size: r(24);
            }
        }
    }
}
