/*section--hero*/
.section--hero {
    .section__sub-text {
        visibility: hidden;
        opacity: 0;
        span:not([class]) {
            color: var(--color-9);
        }
    }
    .btn-wrap {
        transform: translateX(-200%);
    }
}

/*section--hero-page*/
.section--hero-page {
    padding-top: r(140);
    padding-bottom: r(42);
    @include lg {
        padding-top: r(290);
    }
    .section__content {
        @include xl {
            visibility: hidden;
            transform: translateX(10%);
            opacity: 0;
        }
    }
    .section__container {
        position: relative;
        @include md {
            @include fl();
            @include fl-between();
            @include fl-v-centr();
        }
        @include lg {
            @include fl-v-start();
        }
    }
    .section__intro {
        position: relative;
        z-index: 2;
        margin-bottom: r(32);
        @include md {
            min-width: r(480);
            padding-right: r(30);
        }
        @include lg {
            padding-right: 0;
        }
        .section__sub-text {
            max-width: r(573);
        }
    }
    .section__intro-inner {
        @include lg {
            position: relative;
            top: r(32);
            left: r(47);
        }
    }
    .section__title {
        font-size: r(40);
        margin-bottom: r(18);
        @include md {
            font-size: r(56);
            margin-bottom: r(32);
        }
        @include lg {
            font-size: r(88);
            margin-bottom: r(2);
        }
        span {
            color: var(--color-5);
        }
    }
    .section__title-sub {
        @include lg {
            position: relative;
            top: 0;
            left: r(54);
            display: inline-block;
        }
    }
    .section-title__badge {
        @include fl();
    }
    .badge {
        min-width: r(58);
        max-width: r(58);
        height: r(33);
        min-height: r(33);
        max-height: r(33);
        margin-left: r(6);
        content: "";
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include lg {
            min-width: r(100);
            max-width: r(100);
            height: r(49);
            min-height: r(49);
            max-height: r(49);
            margin-left: r(10);
        }
    }
    .section__sub-text {
        font-size: r(14);
        line-height: 1.25;
        margin-bottom: r(16);
        @include lg {
            font-size: r(24);
            line-height: 1.5;
            margin-bottom: r(46);
            margin-left: r(6);
        }
    }
    .br-d {
        @include max-md {
            display: none;
        }
    }
    .btn-wrap {
        @include max-md {
            width: 100%;
        }
    }
    .btn {
        @include max-md {
            width: 100%;
        }
        @include max-lg {
            font-size: r(14);
        }
    }
    .section__control {
        @include lg {
            margin-left: r(9);
        }
    }
    .section__content {
        position: relative;
        @include md {
            @include fl();
            @include fl-h-end();
            max-width: r(345);
        }
        @include lg {
            max-width: r(651);
            margin-top: r(-74);
            margin-right: r(8);
        }
    }
    .card--hero-2 {
        overflow: hidden;
        width: 100%;
        border-radius: r($border-radius-xs);
        .card__inner {
            height: 100%;
        }
        .card__media {
            height: 100%;
            img {
                display: block;
                @include max-md {
                    width: 100%;
                    height: 100%;
                }
                @include xl {
                    @include object-fit-cover();
                }
            }
        }
    }
    .pattern {
        position: absolute;
        right: r(-68);
        bottom: r(-39);
        width: r(285);
        height: r(251);
        @include max-lg {
            display: none;
        }
    }
}

/*m-grid--hero-2*/
.m-grid--hero-2 {
    position: relative;
    z-index: 2;
    @include xs {
        margin: r(-4);
    }
    @include xl {
        margin: 0;
    }
    .m-grid__item {
        @include fl();
        @include max-md {
            margin-bottom: r(8);
        }
        @include xs {
            @include fl-width-50();
            margin-bottom: 0;
            padding: r(4);
        }
        @include xl {
            padding: 0;

        }

        &:nth-child(1),
        &:nth-child(2) {
            @include md {
                @include fl-h-end();
                @include fl-v-end();
            }
            @include xl {
                margin-bottom: r(12);
            }
            .card--hero-2 {
                height: auto;
            }
        }
        &:nth-child(1) {
            .card__media img {

                @include xl {
                    width: r(243);
                    height: r(283);
                }
            }
        }
        &:nth-child(2) {
            .card__media img {

                @include xl {
                    width: r(326);
                    height: r(356);
                }
            }
        }
        &:nth-child(3) {
            .card__media img {

                @include xl {
                    width: r(297);
                    height: r(377);
                }
            }
            @include fl-h-end();
            @include fl-v-end();
        }
        &:nth-child(4) {
            .card__media img {
                @include xl {
                    width: r(244);
                    height: r(271);
                }

            }
        }
        &:nth-child(odd) {
            @include xl {
                padding-right: r(15);
            }
            .card__media {
                @include lg {
                    @include fl();
                    @include fl-h-end();
                }
            }
        }
    }
}

/*is-transform-none*/
.is-transform-none {
    & ~ .scroller {
        .section--hero-page {
            .js-hero-btn {
                transform: none !important;
            }
        }
    }
}

/*section--hero-tn*/
.section--hero-tn {
    padding-top: r(142);
    padding-bottom: r(92);
    @include lg {
        padding-top: r(260);
        padding-bottom: r(82);
    }
    .section__intro {
        margin-bottom: r(39);
        .section__sub-text {
            max-width: r(740);
        }
    }
    .section__title {
        @include media-md-lg {
            font-size: r(40);
        }
    }
    .section__content {
        margin-right: 0;
        @include lg {
            margin: r(-48) 0 0 0;
        }
    }
    .section-title__badge {
        @include max-md {
            margin-left: r(4);
        }
    }
    .section-title {
        margin-bottom: r(18);
        @include md {
            margin-bottom: 0;
        }
    }
    .section-title__accent--m {
        font-style: normal;
        @include md {
            display: none;
        }
        .line {
            left: r(5);
            display: inline-block !important;
        }
    }
    .section-title__accent--d {
        @include md {
            @include fl();
        }
        .line {
            &:last-child {
                @include md {
                    padding-left: r(5);
                }
            }
        }
    }
    .section__title-sub {
        @include fl();
        @include max-md {
            white-space: nowrap;
        }
        @include md {
            @include fl-column();
        }
    }
    .section-title__sub-accent {
        @include max-md {
            display: none;
        }
    }
    .section__sub-text {
        line-height: 1.28;
        @include md {
            line-height: 1.5;
        }
    }
    .badge {
        @include lg {
       position: relative;
    top: r(7);
    left: r(-18);
        }
    }
}

// card--hero-tn
.card--hero-tn {
    .card__media {
        img {
            @include xl {
                width: r(318);
                height: r(708);
            }
        }
    }
}

// m-grid--hero-tn
.m-grid--hero-tn {
    margin: 0 r(-6);
    @include lg {
        margin-right: r(-10);
        margin-left: r(-10);
    }
    .m-grid__item {
        @include fl-width-50();
        padding: 0 r(6);
        @include lg {
            padding-right: r(10);
            padding-left: r(10);
        }
    }
}

/*section--hero-opt*/
.section--hero-opt {
    @include lg {
        padding-top: r(260);
    }
    .section__intro {
        @include md {
            min-width: auto;
        }
    }
}

// card--hero-opt
.card--hero-opt {
    @include lg {
        padding-top: r(107);
    }
    .card__media {
        img {
            @include xl {
                width: r(600);
                height: r(607);
            }
        }
    }
}

// m-grid--hero-opt
.m-grid--hero-tn {

}

/*section--hero-brand*/
.section--hero-brand {
    @include lg {
        padding-top: r(260);
        padding-bottom: r(117);
    }
    .section__intro {
        max-width: r(1060);
        @include max-lg {
            margin-bottom: r(44);
        }
        .line-wrapper span {
            @include max-lg {
                white-space: normal;
            }
        }
        .section__sub-text {
            max-width: r(700);
        }
    }
    .section-title__accent--m {
        @include md {
            display: none;
        }
    }
    .section-title__push {
        @include lg {
            display: block;
            margin-left: r(53);
        }
    }
    .section__content {
        @include lg {
            margin-right: r(20);
        }
    }
}

// card--hero-brand
.card--hero-brand {
    @include lg {
        padding-top: r(63);
    }
    .section__intro {
        .section__sub-text {
            max-width: r(700);
        }
    }
    .card__media {
        img {
            @include xl {
                flex: 0 1 r(639);
                width: r(639);
                min-width: r(639);
                max-width: r(639);
                height: r(655);
            }
        }
    }
}

/*section--hero-talent*/
.section--hero-talent {
    padding-top: 0;
    padding-bottom: r(16);
    @include md {
        padding-top: r(122);
    }
    @include lg {
        padding-top: r(72);
        padding-bottom: 0;
    }
    @include xl {
        padding-top: r(152);
    }
    .section__container {
        padding-right: 0;
        padding-left: 0;
        @include max-lg {
            @include fl-column();
        }
        @include lg {
            @include fl();
            @include fl-h-start();
        }
    }
    .section-intro {
        margin-bottom: 0;
        color: var(--color-1);
        background-color: var(--color-3);
        @include max-md {
            padding: r(112) r(20) r(26) r(20);
        }
        @include md {
            padding: r(49) r(60) r(32) r(60);
        }
         @include lg {
            @include fl-width-50();
        }
    }
    .section-intro__top {
        @include fl();
        @include fl-v-centr();
        @include fl-between();
        margin-bottom: r(-10);
        @include lg {
            margin-bottom: r(50);
        }
    }
    .section__content {
        @include max-lg {
            max-width: 100%;
        }
    }

    /*pattern*/
    .section-intro__pattern {
        img {
            @include object-fit-cover();
        }
    }
    .section-intro__pattern--mob {
        @include md {
            display: none;
        }
    }
    .section-intro__pattern--desk {
        display: none;
        @include md {
            display: block;
        }
    }
    .section__title {
        color: inherit;
    }
    .section-intro__middle {
        @include md {
            margin-bottom: r(50);
        }
    }
    .section-intro__bottom {
        @include max-md {
            display: none;
        }
        @include md {
            @include fl();
            @include fl-v-centr();
            @include fl-between();
        }
    }
    .section-intro__icon {
        position: relative;
        top: r(-25);
        flex: 0 1 r(52);
        width: r(52);
        min-width: r(52);
        max-width: r(52);
        height: r(50);
        @include lg {
            top: r(-18);
            flex: 0 1 r(97);
            width: r(97);
            min-width: r(97);
            max-width: r(97);
            height: r(92);
        }
        img {
            @include object-fit-cover();
        }
    }
    .section-intro__badge {
        position: static;
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='99' height='48' rx='24' stroke='%23F5F8FA'/%3E%3Cpath d='M20 24.3169H79.9995M79.9995 24.3169L67.1268 37.5M79.9995 24.3169L68.1995 11.5' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                @include md {
            min-width: r(100);
            max-width: r(100);
            height: r(49);
            min-height: r(49);
            max-height: r(49);
            margin-left: r(10);
        }
    }
    .section-intro__text {
        font-size: r(18);
        max-width: r(237);
        @include lg {
            position: relative;
            left: r(9);
        }
    }
    .section-content {
        margin: 0;
        padding: r(40) r(20) r(20) r(20);
        @include lg {
            @include fl-width-50();
            padding: 8rem r(60) r(20) r(60);
        }
       @include xl {
            padding-top: r(53);
        }
        .section__media {
            img {
                @include object-fit-cover();
            }
        }
        .section-content__title {
            font-size: r(32);
            font-weight: var(--font-weight-regular);
            line-height: 1;
            width: 100%;
            margin-bottom: r(24);
            @extend %transition-all-300;
            @include md {
                font-size: r(46);
            }
            @include max-lg {
                margin-left: 0 !important;
                text-indent: 0 !important;
            }
            @include lg {
                font-size: r(64);
            }
            @include xl {
                margin-bottom: r(106);
            }
            span:not([class]) {
                position: relative;
                left: r(12);
                @include fli();
                @include fl-v-centr();
                white-space: nowrap;
                color: var(--color-9);
                @include lg {
                    top: r(-3);
                    left: r(16);
                }
                &:before {
                    position: relative;
                    top: r(1);
                    left: r(-12);
                    width: r(46);
                    height: r(2);
                    content: "";
                    background-color: var(--color-16);
                    @include lg {
                        width: r(160);
                        margin-right: r(23);
                    }
                }
            }
        }

        /*section__media*/
        .section__media--desk {
            display: none;
            width: r(286);
            height: r(275);
            @include md {
                display: block;
            }
        }
        .section__media--mob {
            @include md {
                display: none;
            }
        }

        /*text*/
        .section-content__text {
            font-size: r(18);
            color: var(--color-6);
            @include lg {
                margin-left: r(8);
            }
            p {
                margin-bottom: r(23);
                @include md {
                    margin-bottom: r(27);
                }
            }
            span {
                color: var(--color-9);
            }
        }
        .section-content__text--desk {
            display: none;
            @include md {
                display: block;
            }
            @include max-xl {
                padding-left: r(30);
            }
        }
        .section-content__text--mob {
            font-size: r(14);
            line-height: 1.3;
            margin-bottom: r(24);
            @include md {
                display: none;
            }
        }

        /*btn*/
        .btn--desk {
            display: none;
            @include md {
                @include fli();
                margin: r(4) 0 0 r(9);
            }
            @include max-xl {
                margin-left: r(30);
            }
        }
        .btn--mob {
            font-size: r(16);
            margin-bottom: r(24);
            @include fl-h-centr();
            @include md {
                display: none;
            }
        }
    }
    .m-grid--hero-talent {
        .m-grid__item {
            @include md {
                @include fl-width-50();
            }
        }
    }
    /*section-total*/
    .section-total {
        @include fl();
        @include fl-between();
        @include fl-v-end();
        @include max-xl {
            margin-top: r(30);
        }
        @include xl {
            margin-top: r(10);
        }
    }
    .section-total__caption {
        @include fl();
        margin-bottom: r(-6);
        @include max-md {
            @include fl-v-centr();
        }
    }
    .section-total__title {
        font-size: r(32);
        font-weight: var(--font-weight-regular);
        line-height: 1.1;
        margin: 0 r(16) 0 0;
        text-transform: uppercase;
        color: var(--color-9);
        @include lg {
            margin-right: r(20);
            font-size: r(64);
        }
    }
    .section-total__text {
        font-size: r(12);
        line-height: 1.25;
        max-width: r(237);
        margin-top: r(4);
        color: var(--color-6);
        @include lg {
            font-size: r(16);
        }
    }
    .section-total__media {
        @include max-xl {
            display: none;
        }
    }
}
