// Job Offer

.job-offer {
  padding: r(118) 0 r(98);

  @include max-md {
    padding: r(60) 0 r(32);
  }

  .section__head {
    @include max-md {
      margin-bottom: r(24);
    }
  }

  &__card-wrapper {
    @include lg {
      display: flex;
      flex-wrap: wrap;
      margin: 0 r(-10);
    }
  }

  &__card__inner {
    @include lg {
      flex: 33.33333%;
      padding: 0 r(10) r(20);
    }
  }

  .section__title {
    span {
      color: var(--color-9);
    }
  }

  &__form {

    width: r(1063);
    margin: 0 auto r(50);
    max-width: 100%;

    .form-group {
      position: relative;
    }

    .form-control {
      font-weight: normal;
      border: r(2) solid var(--color-16);
      border-radius: r(9);
      padding: r(20) r(16) r(16) r(70);
      width: 100%;
      height: r(62);
      font-size: r(24);
      line-height: 1.5;
      color: var(--color-6);

      @include max-md {
        padding: r(14) r(8) r(10) r(36);
        height: r(44);
        font-size: r(14);
        line-height: 1.25;
      }

      &::placeholder {
        color: var(--color-9);
      }
    }

    .search__btn {
      position: absolute;
      top: r(16);
      left: r(16);
      width: r(32);
      border: 0;
      background-color: transparent;
      padding: 0;

      @include max-md {
        top: r(12);
        left: r(10);
        width: r(20);
      }
    }
  }
}

.section__head {
  margin-bottom: r(46);
}

.icon-search {
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3307 28.0003C22.3263 28.0003 27.9974 22.3293 27.9974 15.3337C27.9974 8.33805 22.3263 2.66699 15.3307 2.66699C8.33512 2.66699 2.66406 8.33805 2.66406 15.3337C2.66406 22.3293 8.33512 28.0003 15.3307 28.0003Z' stroke='%23A3AFB9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M29.3307 29.3337L26.6641 26.667' stroke='%23A3AFB9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  width: r(32);
  height: r(32);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-md {
    width: r(20);
    height: r(20);
  }
}