/*p-loader*/
.section--loader {
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include fl();
    @include fl-h-centr();
    @include fl-v-centr();
    will-change: auto;
}
.body-locked {
    overflow: hidden;
    .section--loader {
        &.section--hide {
            opacity: 1;
            visibility: visible;
        }
    }
}
.loader-logo {
    position: relative;
    z-index: 3;
    @include max-lg {
        margin-right: r(20);
        margin-left: r(20);
    }
    @include lg {
        width: r(1044);
        height: r(242);
    }
}

.loader-pattern {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-3);
    background-image: url("../../assets/img/loader-patrn-m-1.svg"), url("../../assets/img/loader-patrn-m-2.svg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: right r(23) top r(71), left r(-15) bottom r(70);
    background-size: r(165) r(124);
    @include lg {
        background-image: url("../../assets/img/loader-patrn-d-1.svg"), url("../../assets/img/loader-patrn-d-2.svg");
        background-position: right r(50) top r(60), left r(60) bottom r(50);
        background-size: r(326) r(246);
    }
}
.loader-bg {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-14);
    canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.loader-progress {
    font-size: r(80);
    line-height: 1;
    position: absolute;
    z-index: 3;
    right: r(20);
    bottom: r(48);
    color: var(--color-1);
    @include lg {
        font-size: r(120);
        right: r(60);
        bottom: r(70);
    }
}
