// Prices Hero

.prices-hero {
  padding: r(225) 0 r(136);
  position: relative;
  overflow: hidden;

  @include max-md {
    padding: r(142) 0 r(65);
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  &__label {
    background-color: var(--color-3);
    position: absolute;
    top: r(208);
    right: -50%;
    border-radius: r(24) 0 0 r(24);
    width: r(248);
    z-index: 3;
    padding: r(22) r(26);

    &__title {
      font-size: r(24);
      line-height: 1.25;
      color: var(--color-1);
      margin-bottom: r(8);
    }

    .btn--lo:before {
      margin-right: r(25);
    }
  }

  .section__container {
    position: relative;
    z-index: 2;
  }


  &__head {
    font-size: r(24);
    line-height: 1.5;
    color: var(--color-6);
    max-width: r(1060);
    margin: 0 auto r(100);

    @include max-lg {
      font-size: r(20);
    }

    @include max-md {
      font-size: r(14);
      line-height: 1.25;
      padding: 0 r(2);
      margin-bottom: r(36);
    }

    p {
      opacity: 0;
      span {
        color: var(--color-9);
      }
    }
  }

  &__subtitle {
    font-size: r(24);
    line-height: 1.5;
    color: var(--color-9);
    margin-bottom: r(16);
    opacity: 0;

    @include max-lg {
      font-size: r(20);
    }

    @include max-md {
      font-size: r(16);
      line-height: 1.25;
    }
  }

  .section__title {
    margin-bottom: r(32);

    @include max-md {
      margin-bottom: r(24);
    }
    span {
      color: var(--color-5);
    }
  }

  &__wrapper {
    opacity: 0;
    @include lg {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 r(-16);
    }
  }

  &__inner {
    @include lg {
      flex: 0 0 r(495);
      max-width: r(495);
      padding: 0 r(16) r(32);
    }
  }

  &__footer {
    margin-top: r(54);
    position: relative;

    @include max-md {
      margin-top: r(32);
    }

    &:before {
      @include md {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-16);
        content: '';
      }

    }

    &__block {
      display: inline-block;
      background-color: var(--color-1);
      position: relative;
      z-index: 1;
      padding: 0 r(50);

      @include max-md {
        padding: 0;
      }
    }

    .btn {
      min-width: r(362);
      justify-content: center;

      @include max-md {
        min-width: r(272);
      }
    }
  }
}


.prices-card {
  background-color: var(--color-11);
  border-radius: r(24);
  padding: r(16) r(16) r(32) r(16);
  transition: .6s background-color, .6s transform;
  transform: translateY(0);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include max-lg {
    max-width: r(500);
    margin: 0 auto r(32);
  }

  &:hover {
    @include lg {
      transform: translateY(-8%);
    }
  }

  &.primary {
    background-color: var(--color-10);
  }

  &__media {
    position: relative;
    margin-bottom: r(62);

    @include max-md {
      margin-bottom: r(24);
    }

    picture {
      display: flex;
    }

    &__decor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      border-radius: r(8);
    }
  }

  &__title {
    font-weight: 500;
    font-size: r(40);
    line-height: 1.2;
    color: var(--color-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: r(260);
    text-align: center;

    @include max-md {
      font-size: r(24);
    }
  }

  &__cost {
    font-weight: 600;
    font-size: r(48);
    line-height: 1;
    color: #333;

    @include max-md {
      font-size: r(40);
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: r(6);
    }
  }

  &__val {
    font-weight: normal;
    font-size: r(18);
    line-height: 1.5;
    color: var(--color-9);
    padding-right: r(16);

    @include max-md {
      font-size: r(14);
      line-height: 1.25;
    }
  }

  &__head {
    margin-bottom: r(62);

    @include max-md {
      margin-bottom: r(32);
    }
  }

  &__body {
    ul {
      list-style: none;
      li {
        font-size: r(18);
        line-height: 1.2;
        color: var(--color-6);
        padding-left: r(52);
        position: relative;
        margin-bottom: r(20);

        @include max-md {
          font-size: r(14);
          line-height: 1.25;
          padding-left: r(32);
          margin-bottom: r(19);
        }

        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00138 13.5997L2.33471 8.93302C2.21268 8.8095 2.06735 8.71143 1.90713 8.6445C1.74692 8.57756 1.57501 8.5431 1.40138 8.5431C1.22774 8.5431 1.05584 8.57756 0.895624 8.6445C0.735409 8.71143 0.590075 8.8095 0.468044 8.93302C0.344525 9.05505 0.246456 9.20038 0.179523 9.3606C0.11259 9.52081 0.078125 9.69272 0.078125 9.86635C0.078125 10.04 0.11259 10.2119 0.179523 10.3721C0.246456 10.5323 0.344525 10.6777 0.468044 10.7997L6.05471 16.3864C6.57471 16.9064 7.41471 16.9064 7.93471 16.3864L22.068 2.26635C22.1916 2.14432 22.2896 1.99899 22.3566 1.83877C22.4235 1.67856 22.458 1.50665 22.458 1.33302C22.458 1.15938 22.4235 0.987478 22.3566 0.827264C22.2896 0.66705 22.1916 0.521715 22.068 0.399685C21.946 0.276165 21.8007 0.178096 21.6405 0.111163C21.4802 0.0442307 21.3083 0.00976562 21.1347 0.00976562C20.9611 0.00976562 20.7892 0.0442307 20.629 0.111163C20.4687 0.178096 20.3234 0.276165 20.2014 0.399685L7.00138 13.5997Z' fill='%234893F4'/%3E%3C/svg%3E");
          width: r(23);
          height: r(17);
          content: '';
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: r(6);
          transform: translateY(-50%);

          @include max-md {
            width: r(18);
            height: r(13);
            top: r(2);
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__footer {
    margin-top: r(54);
    text-align: center;

    @include max-md {
      margin-top: r(28);
      padding: 0 r(8);
    }

    .btn {
      min-width: r(275);
      justify-content: center;

      @include max-md {
        width: 100%;
      }
    }

    .btn--lo:before {
      margin-right: r(16);
    }
  }
}