/*section--rating*/
.section--rating {
    padding-top: r(40);
    padding-bottom: r(40);
    background-color: var(--color-12);
    @include md {
        padding-top: r(87);
        padding-bottom: r(108);
    }
    .section__intro {
        margin-bottom: r(30);
        @include md {
            margin-bottom: r(98);
        }
    }
    .section__title {
        color: var(--color-1);
    }
    .section__wrapper {
        background-color: var(--color-12);
    }
}
.swiper-rating {
    overflow: visible;
    @include max-lg {
        @include fl;
        @include fl-column();
    }
    .swiper-wrapper {
        margin-bottom: r(32);
    }
    .swiper-control {
        @include max-lg {
            order: 1;
        }
        @include lg {
            position: absolute;
            top: r(-158);
            right: 0;
            width: r(793);
        }
    }
    .swiper-slide {
        height: auto;
        @extend %transition-all-300;
        width: r(334);
        @include lg {
            width: r(417);
            height: r(417);
        }
        &.swiper-slide-active {
            @include lg {
                width: r(791) !important;
            }
            & ~ .swiper-slide-active {
                width: r(417) !important;
            }
        }
    }
}
.card--rating {
    @include fl();
    @include fl-between();
    max-width: r(791);
    padding: r(16);
    cursor: pointer;
    color: var(--color-1);
    border-radius: r($border-radius-xs);
    background-color: var(--color-13);
    @include max-lg {
        @include fl-column();
    }
    @include lg {
        @include fl();
        padding: r(26) r(24) r(24) r(24);
    }
    .card__media {
        overflow: hidden;
        height: r(207);
        min-height: r(207);
        max-height: r(207);
        border-radius: r($border-radius-xs);
        @extend %transition-all-300;
        @include lg {
            flex: 0 1 0;
            width: 0;
            min-width: 0;
            max-width: 0;
            height: r(365);
            min-height: r(365);
            max-height: r(365);
        }
        img {
            @include max-lg {
                object-position: center;
            }
            @include object-fit-cover();
        }
    }
    .card__caption {
        margin-top: r(25);
        @extend %transition-all-300;
        @include lg {
            margin-top: 0;
            padding: r(14) 0 r(40) 0;
        }
    }
    .card__title {
        font-size: r(16);
        font-weight: var(--font-weight-regular);
        line-height: 1.25;
        margin-bottom: r(16);
        @extend %transition-all-300;
        @include lg {
            font-size: r(24);
            margin-bottom: r(29);
        }
        .br-d {
            @include max-lg {
                display: none;
            }
        }
    }
    .card__text {
        font-size: r(14);
        line-height: 1.3;
        margin-bottom: r(20);
        color: var(--color-9);
        @extend %transition-all-300;
        min-height: r(73);
        @include lg {
            font-size: r(16);
            line-height: 1.4;
            margin-bottom: r(67);
        }
    }
    .card__rating {
        margin-bottom: r(30);
        margin-left: r(4);
        @include lg {
            margin-bottom: r(35);
        }
    }
    .card__author {
        padding-top: r(15);
        border-top: r(1.5) solid var(--color-23);
        @include lg {
            padding-top: r(25);
        }
    }
    .card-rating {
        @include fl();
        @include fl-v-centr();
    }
    .card-rating__item {
        width: r(16);
        height: r(16);
        margin-right: r(13);
        @include lg {
            width: r(22);
            height: r(23);
            margin-right: r(15);
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .card-rating__item {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.648 13.956a1 1 0 0 1 .27.859l-1.003 6.153a1 1 0 0 0 1.47 1.036l5.131-2.836a1 1 0 0 1 .968 0l5.13 2.836a1 1 0 0 0 1.47-1.036l-1.003-6.153a1 1 0 0 1 .271-.86l4.289-4.395a1 1 0 0 0-.565-1.687l-5.84-.892a1 1 0 0 1-.755-.564L11.905.93a1 1 0 0 0-1.81 0L7.518 6.417a1 1 0 0 1-.754.564l-5.84.892A1 1 0 0 0 .359 9.56l4.289 4.396Z' fill='%23a3afb9'/%3E%3C/svg%3E");
    }
    .card-rating__item--active {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.648 13.956a1 1 0 0 1 .27.859l-1.003 6.153a1 1 0 0 0 1.47 1.036l5.131-2.836a1 1 0 0 1 .968 0l5.13 2.836a1 1 0 0 0 1.47-1.036l-1.003-6.153a1 1 0 0 1 .271-.86l4.289-4.395a1 1 0 0 0-.565-1.687l-5.84-.892a1 1 0 0 1-.755-.564L11.905.93a1 1 0 0 0-1.81 0L7.518 6.417a1 1 0 0 1-.754.564l-5.84.892A1 1 0 0 0 .359 9.56l4.289 4.396Z' fill='%23ED994A'/%3E%3C/svg%3E");
    }
    .card-author {
        @include fl();
        @include fl-v-centr();
    }
    .card-author__media {
        overflow: hidden;
        flex: 0 1 r(40);
        width: r(40);
        min-width: r(40);
        max-width: r(40);
        height: r(40);
        min-height: r(40);
        max-height: r(40);
        margin-right: r(17);
        border-radius: $border-radius-round;
        @include lg {
            flex: 0 1 r(52);
            width: r(52);
            min-width: r(52);
            max-width: r(52);
            height: r(52);
            min-height: r(52);
            max-height: r(52);
        }
        img {
            @include object-fit-cover();
        }
    }
    .card-author__name {
        font-size: r(12);
        font-weight: var(--font-weight-regular);
        @include lg {
            font-size: r(18);
        }
    }
    .swiper-slide-active & {
        .card__media {
            @include lg {
                flex: 0 1 r(298);
                width: r(298);
                min-width: r(298);
                max-width: r(298);
            }
        }
        .card__caption {
            @include lg {
                padding-left: r(40);
            }
        }
    }
}
