/*section--service-2*/
.section--service-2 {
    @include section-before();
    @include section-light-after();
    @include lg {
        height: var(--app-height);
    }
    &:before {
        @include lg {
            height: r(45);
        }
    }
    &:before {
        margin-bottom: 0;
        @include max-lg {
            display: none;
        }
    }
    .section__container--service-2 {
        @include lg {
            @include fl();
            @include fl-column();
            @include fl-h-centr();
            @include fl-v-centr();
            height: 100%;
        }
    }
    .section__wrapper {
        position: relative;
        z-index: 2;
        @include lg {
            height: 100vh;
        }
    }
    .section__bg {
        position: absolute;
        top: r(-45);
        right: r(20);
        left: r(20);
        height: 38%;
        padding-top: r(111);
        padding-bottom: r(92);
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.5022 0L27.5022 24.558' stroke='%23F0F0F0' stroke-width='1.39855'/%3E%3Cpath d='M27.5022 30.4517L27.5022 55.0096' stroke='%23F0F0F0' stroke-width='1.39855'/%3E%3Cpath d='M-0.00268555 27.1365H24.5553' stroke='%23F0F0F0' stroke-width='1.39855'/%3E%3Cpath d='M30.4495 27.1365H55.0074' stroke='%23F0F0F0' stroke-width='1.39855'/%3E%3C/svg%3E%0A");
        background-repeat: space;
        background-position: top left;
        background-size: r(55) r(55);
        @include sm {
            height: 100%;
        }
        @include md {
            height: 52%;
        }
        @include max-lg {
            visibility: visible !important;
            opacity: 1 !important;
        }
        @include lg {
            top: r(60);
            right: r(70);
            bottom: r(70);
            left: r(70);
            height: auto;
            padding-top: r(227);
            padding-bottom: r(144);
            background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M76.456.044v68.264M76.456 84.692v68.264M0 75.476h68.264M84.648 75.476h68.264' stroke='%23ECECEC' stroke-width='2'/%3E%3C/svg%3E");
            background-size: r(153) r(153);
        }
    }
    .section__intro--service-2 {
        position: relative;
        z-index: 2;
        max-width: r(1230);
        @include max-lg {
            visibility: visible !important;
            margin-bottom: r(97);
            text-align: center;
            opacity: 1 !important;
        }
        @include lg {
            position: absolute;
            margin-bottom: 0;
            text-align: center;
        }
        .section__title {
            span {
                    background: -webkit-linear-gradient(91.36deg, #4893f4 34.58%, #ce73e2 103.69%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
    }
    .section__intro--2 {
        visibility: hidden;
        max-width: 100%;
        opacity: 0;
        @include max-lg {
            display: none;
        }
        .section__media {
            position: absolute;
            top: r(-170);
            right: 0;
            left: 0;
            width: r(184);
            height: r(185);
            margin: auto;
        }
        .section__title {
            line-height: 1;
            background: -webkit-linear-gradient(91.36deg, #4893f4 34.58%, #ce73e2 103.69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include lg {
                font-size: r(150);
            }
        }
    }
    .section__intro-wrap-2 {
        visibility: visible;
        opacity: 1;
        @include max-lg {
            transform: none !important;
        }
    }
    .section__tag {
        margin-bottom: r(24);
    }
    .section__title {
        margin-bottom: 0;
    }
    .section__content--service-2 {
        overflow: hidden;
        @include lg {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-right: r(60);
            padding-left: r(60);
        }
    }
    .scroll-btn {
        &:after {
            display: none !important;
        }
    }
    .section__control {
        width: 100%;
        @include fl-h-centr();
        @include max-lg {
            display: none;
        }
        @include lg {
            position: absolute;
            bottom: r(200);
        }
    }
    .pattern {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        @include max-lg {
            display: none;
        }
    }
    .pattern--1 {
        top: r(75);
        left: r(30);
        width: r(400);
    }
    .pattern--2 {
        right: r(70);
        bottom: r(70);
        width: r(399);
    }
}

.m-grid--service-2 {
    overflow: hidden;
    height: 100%;
    counter-reset: card;
    @include fl-nowrap();
    @include max-lg {
        overflow: auto;
        margin-bottom: r(92);
        margin-left: r(20);
        padding-bottom: r(15);
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    .card-wrap-service-2 {
        width: 100%;
        @include max-lg {
            transform: none !important;
        }
    }
    .m-grid__item {
        @include fl();
        @include fl-v-centr();
        flex: 0 1 r(162);
        min-width: r(162);
        max-width: r(162);
        height: 100%;
        margin-right: r(12);
        @include lg {
            flex: 0 1 r(251);
            min-width: r(251);
            max-width: r(251);
            margin-right: r(20);
        }
        &:last-child {
            padding-right: r(8);
            @include max-lg {
                flex: 0 1 r(170);
                min-width: r(170);
                max-width: r(170);
            }
            @include lg {
                padding-right: 0;
            }
        }
        &:nth-child(1) {
            .card--service-2 {
                background-color: var(--color-18);
            }
            .card__media {
                @include lg {
                    flex: 0 1 r(150);
                    width: r(150);
                    min-width: r(150);
                    max-width: r(150);
                    height: r(196);
                    min-height: r(196);
                    max-height: r(196);
                }
            }
        }
        &:nth-child(3) {
            .card--service-2 {
                color: var(--color-1);
                background-color: var(--color-3);
            }
            .card__media {
                @include lg {
                    flex: 0 1 r(146);
                    width: r(146);
                    min-width: r(146);
                    max-width: r(150);
                    height: r(185);
                    min-height: r(185);
                    max-height: r(185);
                }
            }
        }
        &:nth-child(4) {
            .card__text {
                @include max-md {
                    @include fl();
                    @include fl-h-centr();
                    @include fl-column();
                }
            }
        }
        &:nth-child(5) {
            .card--service-2 {
                background-color: var(--color-10);
            }
            .card__media {
                @include lg {
                    flex: 0 1 r(137);
                    width: r(137);
                    min-width: r(137);
                    max-width: r(137);
                    height: r(168);
                    min-height: r(168);
                    max-height: r(168);
                }
            }
            .card__text {
                @include max-md {
                    @include fl();
                    @include fl-h-centr();
                    @include fl-column();
                }
            }
        }
        &:nth-child(odd) {
            .card-wrap-service-2 {
                @include lg {
                    transform: translatey(-130%);
                }
            }
            .card--service-2 {
                border-radius: r($border-radius-xs) r($border-radius-xs) r($border-radius-5) r($border-radius-xs);
                @include lg {
                    border-bottom-right-radius: r($border-radius-xl);
                }
                .card__top {
                    padding-top: r(0);
                    padding-left: r(10);
                }
                .card__media {
                    @include max-lg {
                        flex: 0 1 r(65);
                        width: r(65);
                        min-width: r(65);
                        max-width: r(65);
                        height: r(85);
                        min-height: r(85);
                        max-height: r(85);
                    }
                }
                .card__text {
                    @include fl();
                    @include fl-column();
                    @include fl-h-end();
                    margin-bottom: r(8);
                    padding: r(8) r(23) r(6) r(6);
                }
            }
        }
        &:nth-child(even) {
            .card-wrap-service-2 {
                @include lg {
                    transform: translatey(130%);
                }
            }
            .card--service-2 {
                border-radius: r($border-radius-5) r($border-radius-xs) r($border-radius-xs) r($border-radius-xs);
                @include lg {
                    border-top-left-radius: r($border-radius-xl);
                }
                .card__top {
                    @include fl-h-end();
                }
                .card__media {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: auto;
                    img {
                        @include object-fit-cover();
                    }
                }
                .card__pic {
                    position: relative;
                    z-index: 1;
                    top: r(15);
                    width: r(100);
                    min-width: r(100);
                    max-width: r(100);
                    height: r(100);
                    @include lg {
                        top: r(40);
                        width: r(167);
                        min-width: r(167);
                        max-width: r(167);
                        height: r(167);
                    }
                }
                .card__text {
                    @include fl();
                    @include fl-column();
                    @include fl-h-centr();
                    height: r(88);
                    padding: r(9) r(11);
                    border-radius: r($border-radius-3);
                    background-color: var(--color-1);
                    @include md {
                        height: r(105);
                        padding-right: r(19);
                        padding-left: r(19);
                        border-radius: r($border-radius-s);
                    }
                    & > span {
                        @include max-lg {
                            @include text-clamp();
                            @include text-clamp-2();
                        }
                    }
                }
            }
        }
    }
}
.card--service-2 {
    font-size: r(18);
    @include fl();
    @include fl-between();
    @include fl-column();
    width: 100%;
    height: r(252);
    min-height: r(252);
    max-height: r(252);
    //    padding: r(12);
    padding: r(16) r(8) r(8) r(8);
    color: var(--color-6);
    @include max-lg {
        transform: none !important;
    }
    @include lg {
        height: r(389);
        min-height: r(389);
        max-height: r(389);
    }
    .card__top {
        @include fl();
        @include fl-between();
        @include md {
            padding-right: r(14);
        }
    }
    .card__media {
        img {
            @include object-fit-cover();
        }
        @include max-lg {
            height: r(85);
        }
    }
    .card__num {
        position: relative;
        z-index: 1;
        @include max-md {
            top: r(-1);
            right: r(6);
        }
    }
    .card__icon {
        @include fl();
        @include fl-h-centr();
        margin-bottom: r(11);
    }
    .card__no {
        font-size: r(14);
        line-height: 1;
        @include lg {
            font-size: r(18);
        }
        &:before {
            content: "0" counter(card);
            counter-increment: card;
        }
    }
    .card__text {
        font-size: r(12);
        line-height: 1.25;
        position: relative;
        z-index: 1;
        @include text-clamp();
        @include text-clamp-4();
        @include lg {
            font-size: r(14);
        }
        @include lg {
            font-size: r(18);
        }
        br {
            @include max-md {
                display: none;
            }
        }
    }
    @include card-btn-hover();
}

/*section__intro--3*/
.section__intro--3 {
    position: relative;
    z-index: 1;
    padding-top: r(40);
    background-color: var(--color-1);
    @include section-before();
    @include lg {
        display: none;
    }
    .section__container {
        @include md {
            margin: 0;
        }
    }
    .section__intro-inner {
        position: relative;
        z-index: 1;
        padding: r(195) 0 r(244) 0;
        @include fl();
        @include fl-h-centr();
        @include fl-v-centr();
        @include fl-column();
    }
    .section__content {
        text-align: center;
    }
    .section__title {
        font-size: r(40);
        line-height: 1.1;
        position: relative;
        top: r(-17);
        background: -webkit-linear-gradient(91.36deg, #4893f4 34.58%, #ce73e2 103.69%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include md {
            font-size: r(64);
            line-height: 1.25;
        }
    }
    .section__media {
        position: relative;
        top: r(-22);
        left: r(50);
        width: r(145);
        min-width: r(145);
        max-width: r(145);
        height: r(146);
        img {
            width: 100%;
            height: 100%;
            @include object-fit-cover();
        }
        @include md {
            left: auto;
            margin: 0 auto;
        }
    }
    .pattern {
        position: absolute;
        visibility: visible;
        opacity: 1;
        @include max-lg {
            display: block;
        }
    }
    .pattern--1 {
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        text-align: left;
    }
    .pattern--2 {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        text-align: right;
    }
}
