// Team Section

.team-section {
  padding: r(118) 0;

  @include max-md {
    padding: r(40) 0;
  }

  .top__line {
    margin-bottom: 0;
  }

  &__head {
    position: relative;


    @include lg {
      text-align: center;
      padding: 0 r(128) 0 r(200);
    }

    .section__tag {

      @include lg {
        position: absolute;
        top: r(8);
        left: 0;
      }

      @include max-md {
        margin-bottom: r(20);
      }

    }

    .bhead {
      margin-bottom: r(72);

      @include max-md {
        margin-bottom: r(24);
      }
    }
  }

  &__form {

    width: r(877);
    margin: 0 auto r(50);
    max-width: 100%;

    @include max-md {
      margin-bottom: r(24);
    }

    .form-group {
      position: relative;
    }

    .form-control {
      font-weight: normal;
      border: r(2) solid var(--color-16);
      border-radius: r(9);
      padding: r(20) r(16) r(16) r(70);
      width: 100%;
      height: r(62);
      font-size: r(24);
      line-height: 1.5;
      color: var(--color-6);

      @include max-md {
        padding: r(14) r(8) r(10) r(36);
        height: r(44);
        font-size: r(14);
        line-height: 1.25;
      }

      &::placeholder {
        color: var(--color-9);
      }
    }

    .search__btn {
      position: absolute;
      top: r(16);
      left: r(16);
      width: r(32);
      border: 0;
      background-color: transparent;

      @include max-md {
        top: r(12);
        left: r(10);
        width: r(20);
      }
    }
  }

  .tabs__link {

    @include max-md {
      margin-bottom: r(20);
    }

  }

  .pagination a, .pagination span {
    border-radius: 50%;
    font-size: r(16);
    line-height: 1.25;
    width: r(40);
    height: r(40);
  }
}

.icon-search {
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3307 28.0003C22.3263 28.0003 27.9974 22.3293 27.9974 15.3337C27.9974 8.33805 22.3263 2.66699 15.3307 2.66699C8.33512 2.66699 2.66406 8.33805 2.66406 15.3337C2.66406 22.3293 8.33512 28.0003 15.3307 28.0003Z' stroke='%23A3AFB9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M29.3307 29.3337L26.6641 26.667' stroke='%23A3AFB9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  width: r(32);
  height: r(32);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-md {
    width: r(20);
    height: r(20);
  }
}

.team {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 r(-10);

    @include max-md {
      margin: 0 r(-4);
    }
  }

  &__inner {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 r(10) r(21);

    @include max-lg {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include max-md {
      padding: 0 r(4) r(16);
    }
  }
}

.team-member {
  position: relative;
  border-radius: r(8);
  padding: 0 0 r(88) 0;
  min-height: r(515);
  background-color: var(--color-11);
  overflow: hidden;
  height: 100%;
  filter: grayscale(0%);
  transition: .6s filter;
  cursor: pointer;

  @include max-md {
    min-height: r(245);
    padding-bottom: r(38);
  }

  &:hover {
    filter: grayscale(100%);
  }

  &.active {
    filter: grayscale(0%);

    .team-member__active {
      opacity: 1;
      visibility: visible;
    }
  }

  &.no-image {
    .team-member__media {
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        display: none;
      }

      picture {
        position: relative;
        background-color: var(--color-3);
        border-radius: 50%;
        width: r(164);
        height: r(164);
        margin: 0 auto;
        padding: r(32);

        @include max-md {
          width: r(80);
          height: r(80);
          padding: r(16);
        }
      }
    }
  }

  &.type-orange {
    .team-member__media {
      picture {
        background-color: var(--color-5);
      }
    }
  }

  &.type-pink {
    .team-member__media {
      picture {
        background-color: var(--color-4);
      }
    }
  }

  &.type-black {
    .team-member__media {
      picture {
        background-color: var(--color-13);
      }
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: r(314);

    @include max-md {
      height: 35.5vw;
      border-radius: r(8);
      overflow: hidden;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: r(32) r(48);
    background-color: var(--color-3);
    font-size: r(18);
    line-height: 1.5;
    color: var(--color-1);
    opacity: 0;
    visibility: hidden;
    transition: .6s opacity, .6s visibility;

    @include max-md {
      padding: r(16);
    }

    .team-member__title, .team-member__subtitle {
      color: var(--color-1);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .bbody {
      border-top: 1px solid var(--color-11);
      padding: r(24) 0 0 0;
      margin-top: r(42);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;

      @include max-md {
        margin-top: r(16);
        font-size: r(12);
        line-height: 1.25;
      }

      @include max-xs {
        -webkit-line-clamp: 4;
      }
    }
  }

  &__body {
    text-align: center;
    padding: r(42) r(24) 0;

    @include max-md {
      padding: r(16) r(8);
    }
  }

  &__title {
    font-weight: 500;
    font-size: r(32);
    line-height: 1.2;
    color: var(--color-6);
    margin-bottom: r(6);

    @include max-md {
      font-size: r(16);
      line-height: 1.25;
    }
  }

  &__subtitle {
    font-size: r(18);
    line-height: 1.5;
    color: var(--color-9);

    @include max-md {
      font-size: r(12);
      line-height: 1.25;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: r(48);
    height: r(48);
    background-color: var(--color-6);
    color: var(--color-1);
    margin: 0 r(5);

    @include max-md {
      width: r(24);
      height: r(24);
      margin: 0 r(2);
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: r(22) r(16);
    text-align: center;
    display: flex;
    justify-content: center;

    @include max-md {
      padding: r(14) r(16);
    }
  }
}


.tabs__link {

  margin-bottom: r(72);
  list-style: none;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;


  @include max-lg {
    margin: 0 r(-20) r(42);
    padding: 0 r(20) r(10);
  }

  li {
    font-weight: 400;
    font-size: r(24);
    line-height: 1.5;
    display: inline-block;
    margin-right: r(44);

    @include max-md {
      font-size: r(16);
      line-height: 1.25;
      margin-right: r(29);
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      a {
        color: var(--color-3);
        display: inline-block;

        &:before {
          display: inline-block;
          width: r(8);
          height: r(8);
          background-color: var(--color-3);
          border-radius: 50%;
          margin-right: r(8);
          position: relative;
          top: r(-3);
          content: '';
        }
      }
    }


    a {
      color: var(--color-12);
      position: relative;

      &:hover {
        color: var(--color-3);
      }
    }
  }
}

.icon-email {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 21H7C4 21 2 19.5 2 16V9C2 5.5 4 4 7 4H17C20 4 22 5.5 22 9V16C22 19.5 20 21 17 21Z' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M17 9.5L13.87 12C12.84 12.82 11.15 12.82 10.12 12L7 9.5' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  width: r(24);
  height: r(25);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-md {
    width: r(14);
    height: r(14);
  }
}

.icon-linkedin {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3062 10.6397C17.3801 10.6365 16.4625 10.816 15.6058 11.1678C14.7491 11.5197 13.9702 12.037 13.3136 12.6902C12.6571 13.3434 12.1357 14.1196 11.7795 14.9745C11.4233 15.8293 11.2391 16.7461 11.2375 17.6722V24.7772C11.2375 25.0656 11.3521 25.3422 11.556 25.5462C11.76 25.7501 12.0366 25.8647 12.325 25.8647H14.8625C15.1509 25.8647 15.4275 25.7501 15.6315 25.5462C15.8354 25.3422 15.95 25.0656 15.95 24.7772V17.6722C15.9497 17.3428 16.0189 17.0171 16.153 16.7162C16.2871 16.4153 16.4831 16.1461 16.7282 15.9261C16.9733 15.706 17.2621 15.5401 17.5756 15.4392C17.8892 15.3382 18.2204 15.3045 18.5479 15.3401C19.1352 15.4141 19.6749 15.701 20.0646 16.1464C20.4544 16.5919 20.6671 17.1649 20.6625 17.7568V24.7772C20.6625 25.0656 20.7771 25.3422 20.981 25.5462C21.185 25.7501 21.4616 25.8647 21.75 25.8647H24.2875C24.5759 25.8647 24.8525 25.7501 25.0565 25.5462C25.2604 25.3422 25.375 25.0656 25.375 24.7772V17.6722C25.3734 16.7461 25.1892 15.8293 24.833 14.9745C24.4767 14.1196 23.9554 13.3434 23.2989 12.6902C22.6423 12.037 21.8634 11.5197 21.0067 11.1678C20.15 10.816 19.2324 10.6365 18.3062 10.6397Z' fill='white'/%3E%3Cpath d='M7.97498 11.7275H4.71248C4.11187 11.7275 3.62498 12.2144 3.62498 12.815V24.7775C3.62498 25.3781 4.11187 25.865 4.71248 25.865H7.97498C8.57559 25.865 9.06248 25.3781 9.06248 24.7775V12.815C9.06248 12.2144 8.57559 11.7275 7.97498 11.7275Z' fill='white'/%3E%3Cpath d='M6.34373 9.55273C7.84526 9.55273 9.06248 8.33551 9.06248 6.83398C9.06248 5.33246 7.84526 4.11523 6.34373 4.11523C4.84221 4.11523 3.62498 5.33246 3.62498 6.83398C3.62498 8.33551 4.84221 9.55273 6.34373 9.55273Z' fill='white'/%3E%3C/svg%3E ");

  width: r(24);
  height: r(24);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-md {
    width: r(14);
    height: r(14);
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}