// Two Card Section

.two-card-section {

  padding: r(62) 0;

  @include max-md {
    padding: 30px 0;
  }

  .m-grid--platform  {

    margin-right: 0;

    @include max-lg {
      display: block;
    }

    .m-grid__item {
      left: 0;
    }
  }

  .m-grid--platform {
    margin-left: r(-8);
    margin-right: r(-8);

    .m-grid__item {
      padding-left: r(8);
      padding-right: r(8);

      @include max-lg {
        flex: 0 1 10%;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: r(16);
      }

      &:nth-child(2) {
        .card--platform__link .card__tag {
          @include max-md {
            margin-right: 8px;
          }
        }
      }
    }
  }


  .card--platform {
    border-radius: r(16);
    padding: r(56) r(48);

    @include max-lg {
      padding: r(32);
    }

    @include max-md {
      padding: r(22) r(16) r(20);
    }

    .card__title, .card__text {
      letter-spacing: normal;
    }

    .card__title {
      @include max-md {
        font-size: r(18);
        line-height: 1.2;
        margin-bottom: r(40);
      }
    }

    .card__text {
      min-height: r(135);

      @include max-lg {
        min-height: auto;
      }
    }

    .card__top {
      display: flex;
      flex-direction: column;
      min-height: r(398);
      justify-content: space-between;

      @include max-lg {
        min-height: r(100);
      }

      @include max-md {
        min-height: r(194);
      }

    }

    .card__bottom {
      padding-top: r(34);

      @include max-md {
        padding-top: r(17);
        margin-top: r(12);
        display: block;
      }

      & > div + div {
        @include max-md {
          margin-top: r(16);
        }

      }
    }
  }

  .card--platform {

    &:hover {
      color: var(--color-2);

      .card__tag {
        font-weight: 400;
      }

      .card__bottom {
        border-top-color: var(--color-24)
      }
    }

    &.primary {
      background-color: var(--color-10);
    }

    .card__icon {
      @include max-md {
        width: r(48);
        min-width: r(48);
        max-width: r(48);
        height: r(32);
        min-height: r(32);
        max-height: r(32);
      }
    }

    &__link {
      display: inline-flex;
      color: var(--color-2);
      align-items: center;

      .card__tag {
        margin-right: r(24);

        @include max-md {
          margin-right: r(16);
        }


      }

      .card__icon {
        background-color: var(--color-12);
        position: relative;
        top: r(-1)
      }

      &.type-red {
        .card__icon {
          background-color: var(--color-4);
        }
      }

      &.type-blue {
        .card__icon {
          background-color: var(--color-3);
        }
      }
    }
  }

}

