// Work Sense

.work-sense {
  position: relative;
  overflow: hidden;
  padding: r(178) 0 r(60);
  background: linear-gradient(180deg, #b3d4ff -200%, rgba(255, 255, 255, 0) 100%);
  color: var(--color-12);

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;

    picture, img {
      width: 100%;
    }
  }

  &__head {
    text-align: center;
    font-size: r(32);
    line-height: 1.5;
    max-width: r(808);
    margin: 0 auto;

    .section__title {
      color: var(--color-3);
      margin-bottom: r(34);
    }

    .bdesc span {
      color: var(--color-9);
    }
  }

  &__body {
    display: flex;
    margin: 0 r(-6);
    align-items: flex-end;
    margin-top: r(-94);

    & > div {
      padding: 0 r(6);

      &:nth-child(1), &:nth-child(5) {
        flex: 0 0 22.2%;
        max-width: 22.2%;
      }

      &:nth-child(2), &:nth-child(4) {
        flex: 0 0 13.1%;
        max-width: 13.1%;
      }

      &:nth-child(3) {
        flex: 0 0 29.4%;
        max-width: 29.4%;
      }

      &:nth-child(4) {
        .btext {
          background-color: var(--color-11);
        }
      }
    }

    picture, img {
      width: 100%;
    }

    img {
      border-radius: r(24);
    }

    .btext {
      font-size: r(18);
      line-height: 1.2;
      text-align: center;
      border-radius: r(24);
      padding: r(16);
      height: r(362);
      background-color: var(--color-10);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > div {
        margin-bottom: r(12);
      }

      .num {
        font-weight: 500;
        font-size: r(48);
        line-height: 1;
        margin-bottom: r(14);
      }
    }

    .bcenter {
      border-radius: r(24);
      position: relative;
      text-align: center;

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      &__title {
        position: absolute;
        max-width: r(260);
        font-weight: 500;
        font-size: r(32);
        line-height: 1.2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-1);
        z-index: 2;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: '';
          background-image: url(../../assets/img/section/careers-page/bg.png);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: -1;
          width: r(452);
          height: r(249);
          pointer-events: none;
        }
      }

      .bimg {
        border-radius: r(16) r(16) r(120) r(16);
      }
    }
  }
}