// Still Uncertain

.still-uncertain {

  overflow: hidden;
  padding: r(98) 0;
  position: relative;

  @include max-md {
    padding: r(64) 0 r(48);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    @include max-lg {
      width: r(79);
      height: r(76);
      left: auto;
      right: r(20);
      top: r(31);
    }

    picture, img {
      width: 100%;
    }
  }

  &__wrapper {

    background-color: var(--color-10);
    border-radius: r(25);
    color: var(--color-3);
    position: relative;

    @include lg {
      min-height: r(608);
    }


    @include lg {
      display: flex;
      align-items: center;
    }

    @include max-md {
      border-radius: r(16);
      padding: r(6) r(24) r(46);
    }
  }

  &__left {
    @include lg {
      flex: 0 0 47%;
      max-width: 47%;
      order: 2;
    }
  }

  &__right {
    @include lg {
      flex: 0 0 53%;
      max-width: 53%;
    }
  }

  .section__title {
    margin-bottom: r(30);

    @include max-md {
      margin-bottom: r(16);
    }
  }

  &__media {
    width: r(786);
    max-width: 100%;
    position: relative;
    left: r(-14);
    top: r(-22);

    @include max-lg {
      margin-top: 0;
      top: 0;
      left: 0;
      padding-top: r(40);
      width: r(380);
    }

    @include max-md {
      width: auto;
      max-width: r(144);
      margin-left: r(-32);
      margin-bottom: r(16);
      padding-top: 0;
    }

    img {
      width: 100%;
    }
  }

  &__desc {

    padding: r(156) r(138);
    font-weight: 300;
    font-size: r(32);
    line-height: 1.5;

    @include max-lg {
      padding: r(50);
    }

    @include max-md {
      padding: 0;
      font-size: r(18);
      line-height: 1.5;
    }

    .btn {
      margin-top: r(48);

      @include max-md {
        width: 100%;
        margin-top: r(34);
        justify-content: center;
      }

      &:before {
        @include md {
          margin-right: r(20);
        }
      }
    }
  }
}
