
html {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-size: 14px;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    background-color: #fff;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a,
ul,
li,
em,
hr,
span,
strong {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
address,
em {
    font-style: normal;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}
a {
    color: #0eaafb;
    text-decoration: none;
}
a:hover,
.sidebar-form-2 button:hover {
    color: #06e;
}
a:focus,
input {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.hr {
    width: auto;
    height: 2px;
    background: url(../img/footer_line_bg.png) repeat-x;
}
/*__________ container ____________*/

.container {
    overflow: hidden;
    margin: auto 1%;
    max-width: 970px;
}
/*_________________________________ SOC-ICON _________________________________*/

.soc-icon a:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}
.g-icon,
.t-icon,
.w-icon,
.f-icon {
    display: inline-block;
    background: url("../img/soc_icon.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.g-icon {
    background-position: -5px -0px;
    width: 33px;
    height: 33px;
}
.t-icon {
    background-position: -5px -38px;
    width: 33px;
    height: 33px;
}
.w-icon {
    background-position: -5px -76px;
    width: 33px;
    height: 33px;
}
.f-icon {
    background-position: -5px -114px;
    width: 31px;
    height: 31px;
}
/*_________________________________ FONTS _________________________________*/

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"),  url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf")  format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
    font-weight: normal;
    font-style: normal;
}
h1,
h3,
h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    margin: 10px 0 0 0;
    font-size: 2rem;
    color: #000;
}
h3 {
    font-size: 1.714rem;
}
h5 {
    font-size: 1.143rem;
    color: #000;
}
p {
    margin: 0 0 10px;
    font-size: 1rem;
}
span {
    color: #b8b8b8;
}
/*_________________________________ HEADER _________________________________*/

.logo {
    margin: 20px auto;
    width: 200px;
}
.header-form {
    position: relative;
    margin: auto;
    width: auto;
    height: 40px;
}
.header-form input {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 12%;
    width: 86%;
    height: 35px;
    background: url(../img/search_icon.png) 10px center no-repeat;
    border: 1px solid #7dd1fd;
    border-radius: 20px;
}
.soc-icon {
    margin: 20px auto;
    width: 125px;
}
.soc-icon a {
    margin: 0 2px;
}
.header-banner {
    width: auto;
}
.login {
    float: right;
    margin: 0 0 10px 5%;
    font-size: 1rem;
    font-weight: bold;
}
.login:before {
    margin-right: 10px;
    content: "›";
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #9fddfd;
}
/*_________________________________ MENU _________________________________*/

#menu-1,
#menu-2,
#menu-3 {
    width: 100%;
}
#menu-1 li,
#menu-2 li,
#menu-3 li {
    width: auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#menu-1 a,
#menu-2 a,
#menu-3 a {
    display: table-cell;
    width: 1000px;
    line-height: 1.2;
    vertical-align: middle;
}
/*__________________ MENU ___________________*/

#menu-1,
#menu-2 {
    margin: 10px 0;
    padding: 0;
    width: auto;
}
#menu-2 {
    min-height: 33px;
}
#menu-1 li,
#menu-2 li {
    text-align: center;
}
#menu-2 li {
    line-height: 30px;
}
.menu-2-wrap {
    overflow: hidden;
    width: auto;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
#menu-1 a {
    padding: 5px 14px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
}
#menu-1 a:hover,
.menu-1-active {
    background-color: #e0f4fe;
    color: #06e;
}
#menu-2 a {
    height: 30px;
    font-size: .929rem;
    color: #7c7c7c;
    vertical-align: middle;
}
.menu-2-active,
#menu-2 a:hover {
    color: #000 !important;
}
.menu-3-wrap {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
#menu-3 a {
    height: 36px;
    font-weight: bold;
    font-size: 1rem;
}
.menu-3-active,
#menu-3 a:hover {
    padding-top: 2px;
    border-bottom: 2px solid #e5e5e5;
}
/*_________________________________ CONTENT_MAIN_PAGE _________________________________*/

.title-content {
    margin-left: 20px;
}
.title-content p {
    line-height: 1.2;
}
.title-content h2 {
    margin-top: 13px;
}
.blue-line {
    margin-top: 5px;
    width: auto;
    height: 7px;
    background: url(../img/blue_line.png) top left no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
}
#content .forum {
    margin: 10px 0 20px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
#content .forum th {
    text-align: center;
    font-weight: normal;
}
#content .forum tr td:nth-of-type(2),
#content .forum tr td:nth-of-type(3) {
    text-align: center;
}
#content .forum h3 {
    margin: 0;
    padding: 14px 0 14px 20px;
    font-size: 1.286rem;
    font-weight: normal;
    background: url(../img/title_section_bg.png) repeat-x;
    color: #fff;
}
#content .forum h3:first-child {
    margin-top: 10px;
}
#content .forum h4 {
    margin: 0;
}
#content .forum span {
    display: block;
}
.mark_ch div {
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #e0f4fe;
}
.mark_ch p {
    margin-bottom: 0;
}
.mark_ch p:after {
    margin-left: 10px;
    margin-bottom: 0 ! important;
    content: "✓";
    color: #0eaafb;
    font-weight: bold;
}
.s-forums {
    background-color: #fafafa ! important;
}
.s-forums div {
    margin: 15px 0;
}
.s-forums span {
    display: inline-block ! important;
}
.s-forums span:last-of-type {
    padding-left: 20px;
}
.forum-item {
    vertical-align: top;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}
.forum-item td {
    width: auto;
}
.forum tr:nth-of-type(2),
.forum tr:nth-of-type(7) {
    border-top: none;
}
.users-item td {
    padding: 15px 0 15px 20px;
}
.forum-item td {
    padding: 15px 0;
}
.forum-item td h4 {
    font-size: 1.143rem;
    font-weight: normal;
    color: #0eaafb;
}
.forum-item p {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.forum-item td:first-child span {
    color: #7c7c7c;
}
/*_________________________________ CONTENT_INNER_PAGE_1 _________________________________*/

.post-nav {
    position: relative;
    margin: 15px auto 10px;
    width: auto;
    height: 26px;
}
.post-nav input {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 25px;
    width: 240px;
    height: 22px;
    background: url(../img/search_m_icon.png) 5px center no-repeat;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}
/*______________________________*/

.pagin-post {
    text-align: center;
    color: #b8b8b8;
}
.pagin-post a {
    color: #b8b8b8;
}
.pagin-post .pagin-post-arrow {
    margin-right: 5px;
    font-size: 15px;
}
.pagin-post .pagin-post-arrow:hover {
    color: #636366;
}
.pagin-post .pagin-page {
    display: inline-block;
    margin: 0 3px;
    padding: 3px 5px;
    line-height: 1;
}
.pagin-post .pagin-page:hover {
    color: #636366;
    outline: 1px solid #d3d3d3;
}
.pagin-post .filter {
    display: inline-block;
    margin-left: 15px;
    padding-right: 20px;
    background: url(../img/search_mark.png) center right no-repeat;
}
.tags-post {
    display: block;
    margin-bottom: 10px;
}
/*______________________________*/

.post {
    position: relative;
    padding: 20px 5%;
    height: auto;
}
.post:nth-of-type(odd) {
    background-color: #f2f9fd;
}
.post:first-of-type {
    margin-top: 15px;
}
.post em {
    color: #7c7c7c;
}
.number-post {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
}
.autor-post {
    float: left;
    overflow: hidden;
    margin-top: 25px;
}
.autor-post h3 {
    margin: 5px 0 0 0;
    font-size: 1.286rem;
    font-weight: normal;
    color: #0eaafb;
}
.autor-post span {
    display: inline-block;
}
.autor-post span:first-of-type {
    padding-bottom: 5px;
}
.post-body {
    float: left;
    overflow: hidden;
}
.post-body img {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.title-post {
    margin-bottom: 15px;
}
/*_________________________________ CONTENT_INNER_PAGE_2 _________________________________*/

.results-item {
    margin: 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.results-item h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2.143rem;
    line-height: 1;
    font-weight: normal;
    color: #0eaafb;
}
.left-side {
    overflow: hidden;
}
.results-item img {
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
}
.results-item-body {
    float: left;
    overflow: hidden;
}
.cost em {
    font-size: 1.250rem;
    color: #000;
}
.cost small {
    font-size: 70%;
}
.rating {
    overflow: hidden;
}
/*___________ RATING ___________*/

.rating span {
    float: left;
    width: 16px;
    height: 15px;
    background: url(../img/star.png);
    margin: 0 2px 0 0;
    cursor: pointer;
}
.rating span.active {
    background-position: bottom;
}
/*_________________________________ SIDEBAR _________________________________*/

#sidebar {
    margin-bottom: 20px;
}
.sidebar-form-1 {
    padding: 25px 7%;
    margin: auto;
    width: 90%;
    background-color: #d9f2fe;
    border-radius: 4px;
}
.sidebar-form-1 h3 {
    margin: -10px 0 17px;
    font-size: 1.357rem;
    line-height: 1.2;
    color: #0eaafb;
}
.sidebar-form-1 h4 {
    margin: 15px 0 -3px;
    font-size: 1.143rem;
    color: #0eaafb;
}
.sidebar-form-1 input {
    margin-bottom: 25px;
    padding-left: 5%;
    width: 95%;
    height: 34px;
    border: none;
    background: url(../img/search_mark.png) 95% center no-repeat #fff;
    color: #000;
    border-radius: 2px;
}
.sidebar-form-1 button {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0px -1px 0px #3f97c5;
    filter: dropshadow(color=#3f97c5, offx=0, offy=5);
    background-color: #66c9fc;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#66c9fc, endColorstr=#35b8fb);
    background-image:    -moz-linear-gradient(top, #66c9fc 0%, #35b8fb 100%);
    background-image: -webkit-linear-gradient(top, #66c9fc 0%, #35b8fb 100%);
    background-image:     -ms-linear-gradient(top, #66c9fc 0%, #35b8fb 100%);
    background-image:         linear-gradient(top, #66c9fc 0%, #35b8fb 100%);
    background-image:      -o-linear-gradient(top, #66c9fc 0%, #35b8fb 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#66c9fc), color-stop(100%,#35b8fb));
    -webkit-box-shadow: 0px 14px 15px -10px #b2b2b2;
            box-shadow: 0px 14px 15px -10px #b2b2b2;
}
.sidebar-form-1 button:hover {
    opacity: .85;
    filter: alpha(opacity=85);
}
/*_____________________________*/

.sidebar-form-2 {
    margin: 10px auto;
    width: 90%;
    border-radius: 4px;
    background-color: #d9f2fe;
}
.sidebar-form-2 button {
    width: 100%;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #0eaafb;
}
/*__________________________________*/

.banner-2 {
    display: none;
    margin: 15px auto;
}
/*__________________________________*/

.sidebar-item {
    padding: 17px 20px;
    font-weight: bold;
    background: url(../img/tire_label.png) 95% center no-repeat, #d7f1fe;
}
.sidebar-item:last-child {
    position: relative;
    padding: 5px 20px;
    font-weight: bold;
    background: #d7f1fe;
    text-align: center;
}
.sidebar-item:last-child a {
    text-transform: uppercase;
}
.sidebar-item:last-child a:after {
    position: absolute;
    top: 0;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    content: "→";
}
/*__________________________________*/

.sidebar-post-mess {
    padding: 15px 0 5px 20px;
}
.sidebar-post li {
    padding: 15px 2% 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.sidebar-post li:last-child {
    border: none;
}
.sidebar-post li a {
    display: block;
}
.sidebar-post li .ava-1,
.sidebar-post li .ava-2,
.sidebar-post li .ava-3 {
    float: left;
    overflow: hidden;
    margin-right: 2%;
    width: 47px;
    height: 47px;
}
.sidebar-post li > p {
    padding: 0 15px;
    line-height: 1.2;
}
.sidebar-post li .ava-1 {
    background: url(../img/content/ava_1.png) no-repeat;
}
.sidebar-post li .ava-2 {
    background: url(../img/content/ava_2.png) no-repeat;
}
.sidebar-post li .ava-3 {
    background: url(../img/content/ava_3.png) no-repeat;
}
.sidebar-post-body {
    float: left;
    overflow: hidden;
}
.sidebar-post-body a:last-of-type {
    color: #d7f1fe;
}
.sidebar-post-body p,
.released {
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
/*________________ RANGE __________________*/

#range {
    margin-bottom: 15px;
    width: auto;
}
#range em {
    color: #7c7c7c;
}
#range label > em {
    font-weight: bold;
}
#range label {
    color: #b8b8b8;
}
#range input {
    padding: 0;
    margin: 0 0 5px 0;
    width: 35px;
    font-weight: bold;
    background: transparent;
    color: #737373;
}
#range .form-group {
    display: inline-block;
}
.ui-slider {
    position: relative;
    width: 100%;
    margin: auto;
    height: 5px;
    background: url(../img/range_track_1.png) repeat-x;
    border-radius: 2px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: url(../img/range_round.png) no-repeat;
    top: -11px;
    margin: 0 0 0 -15px;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 5px;
    background: url(../img/range_track_2.png) repeat-x;
}
.lable-range {
    display: inline-block;
    margin-top: 15px;
}
.lable-range:last-of-type {
    float: right;
}
/*_________________________________ FOOTER _________________________________*/

#footer {
    position: relative;
    background-color: #0eaafb;
}
#footer a,
#footer p,
#footer li {
    color: #fff;
}
#footer a,
#footer address {
    opacity: .7;
    filter: alpha(opacity=70);
}
#footer a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#footer a p {
    margin: 0;
    line-height: 1;
}
#footer .hr {
    margin: 10px 0 25px;
}
#footer ul li {
    padding: 5px 0 5px 20px;
}
#footer ul {
    margin: auto;
    width: 300px;
}
#footer ul li:first-child {
    margin: 10px 0 15px;
    text-transform: uppercase;
    font-size: 1.071rem;
    font-weight: bold;
    background: url(../img/arrow.png) 5px center no-repeat;
    opacity: 1;
    filter: alpha(opacity=100);
}
#footer ul:first-child li {
    background: url(../img/comment_m_icon.png) left center no-repeat;
}
#footer ul:first-child li:first-child {
    background: url(../img/arrow.png) 5px center no-repeat;
}
#footer ul:last-of-type li:nth-child(2) {
    background: url(../img/tel_icon.png) left center no-repeat;
}
#footer ul:last-of-type li:nth-child(3) {
    background: url(../img/marker_icon.png) left center no-repeat;
}
#footer ul:last-of-type li:nth-child(4) {
    background: url(../img/mail_icon.png) left center no-repeat;
    word-break: break-all;
}

/*_________________________________*/
.brand-list {
    width: auto;
    text-align: center;
}
.brand-list a {
}
.brand-list img {
    width: 23%;
}
/*_________________________________*/

.copiright {
    margin-bottom: 45px;
    text-align: center;
}
.copiright span {
    text-align: center;
    padding: 4px 6px;
    font-size: .857rem;
    color: #0eaafb !important;
    background-color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
    border-radius: 3px;
}
/*_________________________________ HELPERS _________________________________*/

.nocallout {
    -webkit-touch-callout: none;
}
textarea[contenteditable] {
    -webkit-appearance: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
